[2016-06-02 13:57] jitchavan opened #1 "can we bind draggable event to the map and return update lat lng in function ?"
trying to use google autocomplete with react but need movable marker in the map. is it possible to modify this version with the requirement? any hint on it.

[2016-07-28 16:21] mmatho opened #3 "Add address type to this component"
Hello,
I am trying to use this autocomplete component. For now this is only suggesting cities as types = cities is hardcoded. Can this be extended for 'address' type?

[2016-07-28 16:47] pmcavoy89 opened #4 "License"
Please add a license to this project.

This module is very useful but I'd like some clarity in knowing the license to the project. The pull request of adding placeTypes would be make this extremely useful.

[2016-07-28 16:48] mmatho commented on #3
I created a branch to make this change to create a pull request for the below change. I can't push it to this origin as i am not a collaborator for this project,

   componentDidMount() {
     this.autocomplete = new google.maps.places.Autocomplete(this.refs.input, {
-      types: ['(cities)'],
+      types: ['(cities)', 'address'],
     });

[2016-09-06 19:25] 7lion opened #6 "Unknown Prop Warnings after upgrade to react@15.3.1"
After upgrade from react@15.1 to react@15.3.1 I started to get warnings like:
warning.js?8a56:44Warning: Unknown prop `onPlaceSelected` on on <input> tag. Remove this prop from the element.

[2016-09-13 09:31] elanperach commented on #6
+1

[2016-09-14 13:36] ErrorPro commented on #6
Thanks guys. I will fix it soon.

[2016-09-14 13:36] ErrorPro commented on #3
@mmatho I think it'd be better to allow users send types via props. Ok i will check this soon. Thank you.

[2016-09-14 13:37] ErrorPro commented on #1
@jitchavan I think it is. Let me check this out. Thank you.

[2016-09-14 13:41] ErrorPro commented on #4
@pmcavoy89 Thank you. I'm working on placeTypes prop.

[2016-09-14 13:41] #4 closed

[2016-09-15 18:39] ErrorPro commented on #6
Fixed in 1.0.6.

[2016-09-15 18:39] #6 closed

[2016-09-15 18:40] ErrorPro commented on #3
@mmatho I fixed the problem. Now you can pass whatever you want through types props. Please check [README.md](https://github.com/ErrorPro/react-google-autocomplete/blob/master/README.md)

[2016-09-15 18:40] #3 closed

[2016-09-15 18:49] ErrorPro commented on #1
@jitchavan This plugin has no map. So what you can do. If you have a movable marker(or you can access to your map) you can get latitude and longitude in an object in onPlaceSelected function. Then you can use those locations to move(redraw) your marker. You just add new marker using those locations. Does it help you?

[2016-09-19 19:11] pmcavoy89 commented on #4
Thanks!

[2016-10-07 16:12] beatfreaker opened #7 "ability to pass ref value"
we should able to pass value in ref of <input /> as props.

[2016-10-10 11:09] ErrorPro commented on #7
@beatfreaker i don't get it. Could you give me an example?

[2016-11-02 11:44] #1 closed

[2016-11-09 02:24] richraid21 opened #8 "InvalidValueError: not an instance of HTMLInputElement"
When using the default example, this error is returned in the console.

[2016-11-09 08:48] ErrorPro commented on #8
@richraid21 Thank you for your issue. I will check it soon.

[2016-11-09 20:02] ErrorPro commented on #8
@richraid21 Can you give me an example? Or could you tell me your react's version? I dont see any error on my test example.

[2016-11-29 22:27] AlmogRnD opened #9 "componentRestrictions"
Is it possible to set componentRestrictions for example I only want to show a specific country.

[2016-11-29 22:29] AlmogRnD commented on #9
Basically are you supporting the following

components — A grouping of places to which you would like to restrict your results. Currently, you can use components to filter by country. The country must be passed as a two character, ISO 3166-1 Alpha-2 compatible country code. For example: components=country:fr would restrict your results to places within France.

[2016-11-30 23:24] ErrorPro commented on #9
@AlmogRnD Hi, thank you for your issue. I've made some changes regarding your issue. Please check @1.0.9 version and README.md as well.

[2016-11-30 23:25] ErrorPro commented on #8
I am closing this issue cuz it's probably out of date.

[2016-12-01 01:33] AlmogRnD commented on #9
thanks

[2016-12-01 01:36] AlmogRnD commented on #9
I just tested and it's not working, did the update this is the my code

[code]

[2016-12-01 10:04] ErrorPro commented on #9
@AlmogRnD This is the working code i tested out yesterday:

[code]

[2016-12-01 22:44] AlmogRnD commented on #9
When I test your code out I get the following error
Uncaught Error: Missing parameter. You must specify location.

You have to set
 `location={new google.maps.LatLng(37.09024, -95.712891)}
`
I tested the following out and If I do a search for "sp" spain still shows up

[code]

[2016-12-06 22:35] ErrorPro commented on #9
@AlmogRnD Hey, sorry for delay. Check this out pls http://jsbin.com/dowinuzuvi/edit?js,output also i updated the doc. Now you can pass `bounds` prop to google autocomplete.

[2016-12-11 15:53] ErrorPro commented on #9
i'm closing this issue.

[2016-12-11 15:53] #9 closed

[2016-12-13 15:23] ErrorPro commented on #7
@beatfreaker http://jsbin.com/dehacohuhe/edit?js,output does it work for you?

[2016-12-13 17:18] remy-poirier opened #10 "Error when running webpack -p command"
I don't know if someone here has the solution to my problem but when I run `webpack-dev-server` everything works as expected but when I run `webpack -p` I don't see any errors but the component doesn't show up.

Here are some of my dependencies :
`"react": "^15.4.1",`
`"react-dom": "^15.4.1",`
`"react-google-autocomplete": "^1.0.11",`
`"react-tap-event-plugin": "^2.0.1",`
`"material-ui": "^0.16.4"

[2016-12-13 17:23] ErrorPro commented on #10
@remy-poirier hm, really interesting behavior. -p option means production [shortcut](https://github.com/webpack/docs/wiki/cli#production-shortcut--p)  I'll check it soon and i get back to you once i find the problem and a solution. Thank you for your issue.

[2016-12-13 17:23] remy-poirier commented on #10
Okay thank you and don't hesitate if you need more informations ! Really nice lib BTW !

[2017-01-04 04:38] theredspoon opened #11 "Styling not compatible with CSS modules"
When I try to style the component with Bootstrap (in accordance with best practices for globally-scoped CSS using CSS modules), nothing happens.

```<Autocomplete className="input-group" />``` renders the same as ```<Autocomplete />```

[2017-01-04 11:02] #7 closed

[2017-01-04 11:03] ErrorPro commented on #11
@theredspoon Hello. Thank you for your issue. I will check it out asap.

[2017-01-04 14:07] ErrorPro commented on #11
@theredspoon  http://jsbin.com/yogaculure/1/edit?html,css,js,output check this example out please.

[2017-01-04 14:16] ErrorPro commented on #10
@remy-poirier Sorry for delay. I check it out. I works for me. With all your dependencies works. Have you solved the problem?

[2017-01-09 19:30] chexxor opened #12 "Pass entire config object to the autocomplete?"
Here: https://github.com/ErrorPro/react-google-autocomplete/blob/master/src/index.js#L19-L23

Instead of constructing this config object, can we pass it into the component through an attribute? The structure of this object is defined by Google, so this library only increases its maintenance burden by also knowing how to correctly create this config object. I imagine Google will be changing the opt

[2017-01-09 21:02] theredspoon commented on #11
I think the problem may be that the class 'input-group' needs to style a div. I'm not sure. Sorry I can't be more helpful.

[2017-01-09 23:17] ErrorPro commented on #11
@theredspoon so it means that the problem isn't with this library. Perhaps changing your css will help.

[2017-01-09 23:17] #11 closed

[2017-01-10 12:17] ErrorPro commented on #12
@chexxor Yeah this is a good idea. Though all users who use this library would have to change their code. I don't think that it is a good idea ;) What we can do is to add `const { types=['(cities)'], componentRestrictions={}, bounds,  ...rest} = this.props;` rest keys to the Autocomplete.

    new google.maps.places.Autocomplete(this.refs.input, {
      types,
      componentRestrictions,
      bo

[2017-01-10 12:25] ErrorPro commented on #12
@chexxor Yeah this is a good idea. Though all users who use this library would have to change their code. I don't think that it is a good idea ;) What we can do is to add one more prop to the lib called `config` or smth like this. And just spread it into the Autocomplete config.

    const { types=['(cities)'], componentRestrictions={}, bounds, config} = this.props;

    this.autocomplete = new go

[2017-01-10 16:28] chexxor commented on #12
An idea I have:

[code]

[2017-01-10 17:39] ErrorPro commented on #12
@chexxor Yeah actually spread operator replaces everything above it by keys and values in an object you provide. So let's do this:

    const { types=['(cities)'], componentRestrictions={}, bounds, config } = this.props;

    // !!! `types`, `componentRestrictions`, and `bounds` are deprecated.
    this.autocomplete = new google.maps.places.Autocomplete(this.refs.input, {
       types,
       comp

[2017-01-10 17:44] chexxor commented on #12
Yeah. I'll do that within the next week.
I wonder if you have a list of other breaking changes you're planning to make, as it would be nice to do a bunch of them at once. I'd make an issue for that if I were you, then keep adding to it until we'd like to make a major release, perhaps 6-12 months from now. I can make one

[2017-01-10 17:52] ErrorPro commented on #12
Hm, it's a good idea! But i really have got nothing yet ;) But for sure i will create an issue with some future features and breaking changes. You are welcome to contribute and thank you!

[2017-01-12 09:50] adityashankert opened #13 "getting error while initialization"
while I'm initialization I'm getting following error
[code]

following is the initialization code.
[code]

[2017-01-12 10:44] ErrorPro commented on #13
@adityashankert fixed. Updated to 1.0.12.

[2017-01-12 10:44] #13 closed

[2017-01-12 10:52] adityashankert commented on #13
so i should update my version in npm ?

[2017-01-12 10:57] adityashankert commented on #13
thanks it fixed :)

[2017-02-12 13:43] ErrorPro commented on #10
Closing this issue since it's aging

[2017-02-12 13:43] #10 closed

[2017-02-12 20:10] ErrorPro opened #14 "Future changes and things you'd change or add."
Hi. Here is a list of changes we are going to make eventually. Feel free to comment anything you have in your mind.

1. Passing a config object as a props to the component(@chexxor). https://github.com/ErrorPro/react-google-autocomplete/issues/12

[2017-02-12 20:12] ErrorPro commented on #12
https://github.com/ErrorPro/react-google-autocomplete/issues/14

closing this issue.

[2017-02-12 20:12] #12 closed

[2017-02-12 20:16] chexxor commented on #14
Thanks for maintaining! That one is still on my to-do list. I've got other, higher priority things right now, though. :(

[2017-03-16 14:12] balubunny4u commented on #8
I am facing same issue.Kindly help me.
![screen shot 2017-03-16 at 7 41 45 pm](https://cloud.githubusercontent.com/assets/15211745/24000226/aaa30b24-0a80-11e7-95cc-e63e2b8c3323.png)

[2017-03-16 14:14] ErrorPro commented on #8
@balubunny4u Are you sure this problem is related to Autocomplete? Can you expand the stack trace and show me?

[2017-03-16 14:19] balubunny4u commented on #8
I have used autocomplete in multiple pages.That's why i got same error multiple times.
![screen shot 2017-03-16 at 7 48 57 pm](https://cloud.githubusercontent.com/assets/15211745/24000587/a3a98c0c-0a81-11e7-9176-4c55bb5fb4e0.png)

[2017-03-17 09:07] ErrorPro commented on #8
@Bunny2242 Ok thank, i'll check it asap and let you know.

[2017-04-14 23:54] voold opened #15 "Use the prop-types package"
```Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead```

[2017-04-16 10:02] ErrorPro commented on #15
Will do it asap.

[2017-04-16 20:24] ErrorPro commented on #15
@voold fixed in .13 version. Please check it out.

[2017-04-16 20:24] #15 closed

[2017-04-18 14:28] voold commented on #15
Thanks

2017-04-16 22:24 GMT+02:00 Ven Korolev <notifications@github.com>:

[2017-04-28 06:12] kamalkrishna3000 opened #16 "How to filter restaurants rather than places ..."

[2017-05-01 08:08] ErrorPro commented on #16
@kamalkrishna3000 All what you can use in this library is described here: https://developers.google.com/places/web-service/autocomplete

[2017-05-01 08:08] #16 closed

[2017-05-02 06:10] kamalkrishna3000 commented on #16
But I am unable to retrieve restaurants in Hyderabad or any particular location.

[2017-05-02 09:01] ErrorPro commented on #16
Because it's a different library. I will try to implement this in the next version of this library but atm it is not possible. You are welcome to help me and do it yourself.

[2017-05-29 05:18] YaAlfred commented on #14
How to change types?(changing property "types", disable the plugin)

[2017-06-14 10:36] Hudhud opened #17 "InvalidValueError: not an instance of HTMLInputElement"
I am developing an application, in Ionic, where you can plan a trip with a start address and an end address. However, I want to limit this feature to only one country. Before writing I have been searching for solutions on the internet, but none of them worked for me.

Have tried these suggestions:

https://stackoverflow.com/a/8282093/8130808

https://stackoverflow.com/a/10170421/8130808

Here is h

[2017-06-14 18:47] ErrorPro commented on #17
@Hudhud How does it relate to this repo? :) Anyway I'll try to help you. Could you create an example in jsbin\jsfiddle?

[2017-06-14 18:49] ErrorPro commented on #17
Try this
[code]

[2017-06-14 21:53] Hudhud commented on #17
It's implemented in typescript. I don't get the input from HTML but from an alert dialog that appears :)

[2017-06-14 22:08] ErrorPro commented on #17
@Hudhud Anyway I don't really understand what's the problem and how to help you bro ;)

[2017-06-14 22:30] Hudhud commented on #17
The problem is that it's not limited to only one country :) Anyway, thanks for trying :D

[2017-06-15 06:06] #17 closed

[2017-10-16 02:12] torte opened #19 "1.0.14: TypeError: this.autocomplete.removeListener is not a function"
After updating to 1.0.14 I am getting the above error in the console when unmounting the component. Most like related to changes from https://github.com/ErrorPro/react-google-autocomplete/commit/f89fb0f10710520b8caaa2961975498e3b4dead5.

[2017-10-16 10:10] MeXaaR commented on #19
Same error

[2017-10-16 10:31] cicer1 commented on #19
Same error also for me

[2017-10-16 11:44] ErrorPro commented on #19
Checking it out guys.

[2017-10-16 12:06] ErrorPro commented on #19
Fixed in 0.15, check it out please.

[2017-10-16 12:12] MeXaaR commented on #19
great !! thanks, it works. Thanks you for your reactivity  ;)

[2017-10-16 13:59] #19 closed

[2017-10-16 23:21] torte commented on #19
Thank you very much.

[2017-10-26 10:17] umair-khanzada opened #20 "Reset field ?"
I'm using this inside filters, Now I need to reset location to empty when clicked clear filter button, any idea.

[2017-11-16 17:28] ErrorPro commented on #20
@umair-khanzada Hello, thank you for your questions, I will check it asap.

[2017-11-20 14:25] ErrorPro commented on #20
@umair-khanzada it should look like this:

    <Autocomplete
          style={{width: '90%'}}
          onPlaceSelected={(place) => {
            console.log(place);
            this.setState({ value: place.formatted_address });
          }}
          onChange={(evt) => this.setState({ value: evt.target.value })}
          value={this.state.value}
          componentRestrictions={{country: "ru"}}

[2017-11-20 14:25] #20 closed

[2018-01-22 20:17] andresdicamillo opened #22 "Is it possible to automatically trigger the first selection of the autocomplete?"
Basically, when user types "New York" but you don't select exactly what the autocomplete returns, I need to select the first option.
I will really appreciate your help.

Thanks in advance!

[2018-01-23 14:33] ErrorPro commented on #22
@andresdicamillo Hi, thank you for your issue. I will check it asap and get back to you with an answer.

[2018-01-23 18:56] monarajhans commented on #22
+1

[2018-01-23 19:45] monarajhans commented on #22
@ErrorPro Any updates on this? I am waiting on this as well.

[2018-01-24 09:25] ErrorPro commented on #22
@andresdicamillo @monarajhans Autocomplete has only one [event](
https://developers.google.com/maps/documentation/javascript/reference#Autocomplete) unfortunately

But you always can do this(insert your api key in HTML tab): http://jsbin.com/luqupibaza/edit?html,js,output

The thing is we need to fire events on google api manually.

This is question on [stackoverflow](https://stackoverflow.com/que

[2018-01-24 15:10] leonardoampuero commented on #22
Is it possible to get the prediction list? That might help for some cases.

[2018-01-24 16:00] ErrorPro commented on #22
@leonardoampuero
1. Use [queryprediction](https://developers.google.com/maps/documentation/javascript/examples/places-queryprediction)
2. Parse html down(select all predictions divs by classname) but I recommend you to use 1st way.

[2018-01-25 14:25] andresdicamillo opened #23 "Is there any way to have the event.target in onPlaceSelected function?"
The issue is that the list retrieve a pre formatted value that is not possible to create with the place json

[2018-01-25 16:29] ErrorPro commented on #22
Seems like everybody happy, you are always welcome.

[2018-01-25 16:29] #22 closed

[2018-01-28 16:39] ErrorPro commented on #23
@andresdicamillo no atm there's no way to get it. You are welcome to change that and create a PR.

[2018-01-30 18:20] #23 closed

[2018-03-19 09:04] vijayneophyte opened #24 "Suggestions not coming in mobile android mozilla firefox untill you press space or symbols like ".""
Suggestions not coming in mobile android mozilla firefox untill you press space or symbols like "."

[2018-03-19 10:38] ErrorPro commented on #24
@vijayneophyte Thank you for your issue, I will check it as soon as possible and will let you know.

[2018-04-06 00:56] RickEyre opened #25 "How to initialize from a stored address?"
I'm using this on an edit form and am trying to load a previous address into it. What's the best way to go about this?

[2018-04-06 21:28] RickEyre commented on #25
Answer: Can set value directly.

[2018-04-06 21:28] #25 closed

[2018-04-17 06:48] subzekt opened #26 "remove default value for types props"
is there any rationale behind making the types props to be defaulted to (cities)? Can it not me made optional like bounds and componentRestrictions

I recently stumbled upon a requirement that allows me to consider all the autocomplete suggestions
According to google docs,

[https://developers.google.com/places/web-service/autocomplete#place_types](url)

**Edit : I can make it work using this code

[2018-04-17 07:16] subzekt commented on #26
`import Autocomplete from 'react-google-autocomplete';

<Autocomplete
    style={{width: '90%'}}
    onPlaceSelected={(place) => {
      console.log(place);
    }}
    types={[]}
    componentRestrictions={{country: "ru"}}
/>`
I can get away with using this code block

[2018-04-20 11:45] ErrorPro commented on #26
@subzekt I can make it to be optional, by default it will be an empty array, but I would not like to do so because it might break somebody's applications or logic. You can always pass an empty array yourself, or even write a wrapper for this `<MyWrappedAutocomplete {...this.props} />` and your wrapper would do this `<Autocomplete types={[]} {...this.props} />`. Is it really crucial for you?

[2018-04-20 11:47] ErrorPro commented on #26
I'm about to update this lib to the next version and there's a list of improvements you would like to see https://github.com/ErrorPro/react-google-autocomplete/issues/14. There's not many of them atm but if there are I will update this lib.

[2018-04-20 11:50] ErrorPro commented on #24
@vijayneophyte Can you provide a bit more info, what version of mozilla are you using? I checked it and it worked for me.

[2018-04-20 15:28] subzekt commented on #26
@ErrorPro Thanks for the library. This  is not so crucial for me

[2018-04-20 15:28] #26 closed

[2018-04-22 03:45] vijayneophyte commented on #24
Hi,

Thanks for the reply .
Its working in desktop but in Android mobile Mozilla Firefox it's not
working unless you press space or symbols
Device: Redmi note 5 pro(you can test in any other device also )
Firefox version: 59

Thanks
vijay

On Fri 20 Apr, 2018, 5:20 PM Ven Korolev, <notifications@github.com> wrote:

[2018-05-27 14:14] RickEyre opened #27 "Publish a new version"
Can you publish a new version?

I see that you removed the `<div>` [here](https://github.com/ErrorPro/react-google-autocomplete/blob/master/src/index.js#L47) that used to wrap the `<input>`.

This update would be useful as the extra `div` is annoying as I have to take it into account when styling this component.

[2018-05-29 13:07] ErrorPro commented on #27
@RickEyre Thank you for your issue. A new version of the lib has been published.

[2018-05-29 13:07] #27 closed

[2018-05-29 13:12] RickEyre commented on #27
Thanks!

[2018-05-31 06:56] fr8in opened #28 "how to include multiple types on search.?"
Hi,
   I am using react-google-autocomplete but when i search i need to get

types can anyone tell me how to include more than one types in that component.?

[2018-05-31 07:48] fr8in commented on #28
I searched and got that answer

[2018-05-31 07:49] fr8in commented on #28
I searched and got that solution thank you

[2018-05-31 07:49] #28 closed

[2018-06-14 10:15] Kambe11 commented on #8
.pac-container {
    z-index: 1051 !important;
}

[2018-06-18 13:37] ErrorPro commented on #8
@Kambe11 what's that?

[2018-06-25 10:56] Sathya-Appscrip opened #29 "ReferenceError: google is not defined"
i am getting error

[2018-06-25 13:52] ErrorPro commented on #29
@Sathya-Appscrip That's not really helpful, can you share your code?

[2018-06-27 08:45] ErrorPro commented on #29
I'm closing this issue to keep issues up-to-date. Please if you have this problem again, create another issue and try to provide as much information about the error as possible.

[2018-06-27 08:45] #29 closed

[2018-07-13 15:04] eduardichim commented on #8
@ErrorPro I think I've found the problem.

I've used your strategy to pick up the element through ref and in version
├── react@16.4.1
└── react-dom@16.4.1
in order to get have the same effect as document.getElementById('pac-input') i do this.ref.current

`
    constructor(props) {
        super(props);

        this.autocomplete = null;
        this.event = null;
        this.input = React.createR

[2018-07-17 16:47] stenrdj opened #30 "Change placeholder of input"
Hello ,
I was trying to change the default input placeholder , is there any chance to have an attribute for that please?

Thanks
Aziz

[2018-07-18 11:03] stenrdj commented on #30
Sorry i didn't took attention to rest argument , i forget that i can add any attribute just by adding it to Autocomplete component 🦆 .
ill close this issue since it was not in the first place.

[2018-07-18 11:03] #30 closed

[2018-07-23 08:45] ErrorPro commented on #8
@eduardichim Sorry, I've just seen your message, will give it a try later today. Thanks for the info!

[2018-07-25 12:44] ErrorPro commented on #8
@eduardichim http://jsbin.com/tahijugolo/edit?js,output

Does anyone still have this problem?

I can update this lib to use React.createRef(), but it'll affect people who are using the lib already to update theirs react package to 16.3 at least, to support React.createRef.

[2018-07-27 06:52] angularli opened #33 "ReferenceError: google is not defined"
ReferenceError: google is not defined

[2018-07-27 13:35] #33 closed

[2018-07-29 01:28] gregor2004ua opened #34 "Google chrome autofill is displayed over autocomplete results"
Cant get chrome autofill to disappear:
![image](https://user-images.githubusercontent.com/4721049/43361962-d13d0af4-92ac-11e8-8946-24b83b640378.png)

Here is what the code looks like. I am using it with redux-form and autofill three hidden fields based on selection.
[code]

any help would be greatly appreciated.

[2018-08-01 19:16] #8 closed

[2018-08-09 16:24] ErrorPro commented on #34
@gregor2004ua Thanks for the issue, will check it asap.

[2018-08-13 07:51] ImranNZ opened #35 ""Can't find variable: google" error when rendering in mobile Safari and Firefox Focus"
Environment: Tested on a iPhone 8 plus and also a Nexus 5.
Expected: Component Renders correctly
Actual: React application crashes on mobile as the google api cannot be found.

<img width="985" alt="screen shot 2018-08-13 at 7 50 02 pm" src="https://user-images.githubusercontent.com/3803838/44019195-3086fbd2-9f32-11e8-85c7-27784058d800.png">

[2018-08-13 09:37] ImranNZ commented on #35
I should mention also that this is not a problem on desktop browsers, and on chrome on mobile.

[2018-08-13 09:52] ErrorPro commented on #35
@ImranNZ Thanks for your issue, will check this

[2018-10-12 18:51] 416serg commented on #28
@fr8in how did you solve it? right now if I do `types={['(regions)', 'address']}` the dropdown doesn't work. it works if I use one or the other

[2018-10-17 16:43] MattSidor commented on #8
@ErrorPro I think this change should have been a 1.1.x release instead of 1.0.x.

[2018-10-18 13:13] herebefrogs commented on #34
@gregor2004ua I ran into this issue too. The root cause is that Chrome Autofill ignores the `autocomplete="off"` attribute that the Google Maps library add to the input generated by ReactGoogleAutocomplete, which is quite unfortunate given Google manufactures both the browser and library.

The workaround is to alter the `autocomplete` value on the input to a key that does not match anything in the

[2018-10-19 21:35] ctowler157 opened #36 "No `setFields` config option"
There is no clear exposed API for [setting the fields on the Autocomplete instance](https://developers.google.com/maps/documentation/javascript/reference/places-widget#Autocomplete.setFields). This is not ideal, as someone using this library might not realize _google includes all fields by default, charging you for the additional apis that those fields may involve_. To put it into context, someone

[2018-10-21 13:11] ErrorPro commented on #36
@ctowler157 Hey, thanks for the issue, really helpful. I will check this out asap, but if you have time to make a PR and submit it I would really appreciate that.

[2018-10-24 19:21] ctowler157 commented on #36
Won't get to this today, but I will do this Very Soon™

[2018-10-25 10:38] FairTex opened #37 "Stylization dropdown"
Are there any ways to set custom styles to dropdown?

[2018-10-30 14:53] herebefrogs commented on #34
@ErrorPro thanks for your patience while I created this PR. I modified `src/index.js` and ran 'npm run build' to update `lib/index.js`. Let me know if you want any further changes to meet this repo's coding standards.

[2018-10-31 09:33] ErrorPro commented on #34
@herebefrogs Thanks for the [PR](https://github.com/ErrorPro/react-google-autocomplete/pull/38), now it's fixed! @1.0.17 is published now.

[2018-10-31 09:33] #34 closed

[2018-10-31 09:34] ErrorPro commented on #36
@ctowler157 Thanks and looking forward to seeing your PR!

[2018-10-31 09:42] ErrorPro commented on #37
@FairTex There you go. http://bfy.tw/KcxY

[2018-10-31 09:42] #37 closed

[2018-11-01 17:25] alexmarmon opened #39 "React Ref Issue"
With the most recent version @1.0.17, we are seeing a new error pop up:
[code]

Without diving in too much it looks like the ref on line 41 of index.js isn't being set or accessed properly. Any help would be fantastic.

[2018-11-03 16:57] RickEyre opened #40 "Hitting enter to select place submits form"
Is it possible to prevent default behaviour of the enter button when interacting with the dropdown? Or prevent event propagation.

[2018-11-04 12:56] ErrorPro commented on #39
@alexmarmon Thanks, will check it today

[2018-11-04 13:07] ErrorPro commented on #39
Ok guys, I've just checked the code and it seems to work for me. I've published a fix for it, basically just checking if this.refs is accessible but please fill free to dive into the problem and see what causes it. Otherwise I need more info about browser/environment where the error occurred in. Cheers.

[2018-11-07 09:12] ErrorPro commented on #40
@RickEyre You can pass onKeyUp prop to the react-google-autocomplete, smth like this:

[2018-11-07 09:16] ErrorPro commented on #39
@alexmarmon can you check the latest version please?

[2018-11-07 16:16] alexmarmon commented on #39
@ErrorPro Looks like the error is gone. Thank you for the help! If it pops back up or we come across the root cause I'll be sure to let you know.

[2018-11-07 16:16] #39 closed

[2018-11-09 01:15] RickEyre opened #41 "Initialize input with a place"
Is there a way to initialize the input with a place? I set it to the full address text of the place right now, but it doesn't do a lookup onmount.

[2018-11-10 22:44] WebbizAdmin commented on #41
Any luck on this?
I set value as an old comment says, but it then says on the edit form that this project is not authorised.

[2018-11-14 09:36] ErrorPro commented on #41
Hey guys, it's just a plain html input, you can set value as you usually do: 'value={myValue}` it's the same as https://github.com/ErrorPro/react-google-autocomplete/issues/20, you can always put jsbin as a test example, so it would be much easier to help you right away.

[2018-11-14 09:36] #41 closed

[2018-11-14 13:50] RickEyre commented on #41
I can set a text value yeah, but it doesn't fall on place selected initially. The user has to interact with the field to choose it still. Is there a way for the input to automatically load the place on intialization?

[2018-11-19 11:37] ErrorPro commented on #41
Maybe you can try to call the google API internally but this library doesn't support that out of the box.

[2018-11-22 08:49] ErrorPro commented on #41
@RickEyre If you find a solution please feel free to drop it here so I will tweak the lib to support it(or submit PR)!

[2018-11-29 20:20] ErrorPro commented on #8
@MattSidor I agree, I'll do it asap but if anyone else wants to take that part over - you're welcome.

[2018-12-29 15:32] mlucool commented on #36
@ctowler157 Were you ever able to add this?

[2019-01-03 18:37] makarov906 commented on #37
But if we have a several autocomplete components on the page, we will not be able to style each one individually. It will be good if the autocomplete component gives the way to pass my own classname to the dropdown.

[2019-01-14 14:12] NolanCrochot commented on #35
Exactly the same issue for me, but it occurs on all browsers (tested on Chrome / Firefox / Edge).

[2019-02-24 00:14] RickEyre opened #43 "Disable autofill does not work"
'disable-autofill' for `autocomplete` does not seem to work, but `off` does. Would you be open to switching it?

[2019-03-24 13:41] kinsbrunner opened #44 "Styling autocomplete as per Material-UI design"
Hi,
Has anyone been able to change the field styling as per material-ui styles? I have found the following [link](https://google-developers.appspot.com/maps/documentation/javascript/places-autocomplete#style_autocomplete) which explains all the relevant classes but it is being quite a mess to achieve it.
Any clues and answers would be very welcome!
Cheers.
Alejandro.

[2019-04-01 14:49] ErrorPro commented on #43
@RickEyre Hi Rick, apologise for a late reply. I don't mind changing this prop to be coherent with google docs. Will you be able to submit a PR for that?

[2019-04-01 14:55] ErrorPro commented on #44
@kinsbrunner Hi there, I think the best way would be for you to create your own component and use it. Alternatively, you can submit a PR which passes down a ref and renders nothing but null. So you can use any input just passing its ref down. It's a good issue though, will put it as a future improvement. Thanks.

[2019-04-01 14:57] kinsbrunner commented on #44
Thanks for your answer. When could we expect to have this immprovement in place?

[2019-04-10 11:05] serus22 commented on #35
@mshahov do u use <script tag properly ?
include google library dependency into <head>
or create wrapper which will wait until window.google.maps is available

[2019-04-13 02:34] shehban opened #45 "Get Latitute and Longitude"
Hello. I am using your autocomplete in my application and it's working very well, but I would like to know how I can get the Latitude and Longitude of the selected place. The data seems to be under geometry->location->lat->[[Scopes]][0] but I cannot access the data in [[Scopes]]. How would I get the latitude and longitude?

[2019-04-14 03:04] shehban opened #46 "How to set bounds?"
Hey, I am using this module in my app but I am unable to set the bounds for a search. Do you have a written code example of bounds usage in this module?

[2019-04-25 17:33] #36 closed

[2019-04-29 08:52] ErrorPro commented on #46
Hey @shehban, just pass it as a [prop](https://github.com/ErrorPro/react-google-autocomplete/blob/master/src/index.js#L9).

[2019-04-29 08:52] #46 closed

[2019-04-29 08:52] ErrorPro commented on #45
You probably need to pass an appropriate field [prop](https://github.com/ErrorPro/react-google-autocomplete/blob/master/src/index.js#L10)

[2019-04-29 08:52] #45 closed

[2019-04-29 08:53] ErrorPro commented on #44
@kinsbrunner Hey, I don't know when cuz I'm quite busy now. If you want you can help me with this. THanks.

[2019-05-09 12:21] egaleme opened #48 "can i use it in nextjs"

[2019-05-15 19:40] conor909 commented on #3
So what is the recommended settings to find an exact address anywhere in the world?  I'm testing it out on my address but I can never find it, but I can find it on other demos on google.

[2019-05-16 04:34] iamrenzx opened #49 "How do i get the coordinates?"
Hi is there anyway that i could get the value of the coordinates?

[2019-05-16 14:17] ErrorPro commented on #48
Of course, it's still React.

[2019-05-16 14:17] #48 closed

[2019-05-16 14:19] ErrorPro commented on #49
@iamrenzx Can you provide more detail description? (possible with printscreens)

[2019-05-16 14:25] iamrenzx commented on #49
Sorry i'm not on my pc right now but i'll try to explain.

onSelectedPlace function can i return the coordinates of the place? Sometimes i only get an object with just the formatted address name. Sometimes i do get the an array of objects?

[2019-05-16 14:40] iamrenzx commented on #49
<Autocomplete
    style={{width: '90%'}}
    onPlaceSelected={(place) => {
      //This parameter returns an object with only the name in it or an array of object i want it to consistently return an array of objects with the geometry, formatted address
      console.log(place);

    }}
    types={['(cities)']}
    componentRestrictions={{country: "ru"}}
/>

[2019-05-16 15:58] ErrorPro commented on #49
@iamrenzx You need to [provide](https://developers.google.com/maps/documentation/javascript/reference/places-service#PlaceResult) what additional data you want to receive. Google API isn't absolutely free, so by default the lib only gives you the minimum amount of data.

[2019-05-16 15:58] #49 closed

[2019-05-31 17:55] owise1 commented on #28
@416serg It looks like [you can't really use multiple types](https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service#AutocompletionRequest.types). I solved this my passing `false` in the `types` prop in order to return all the types.

[2019-06-03 07:22] surya229 opened #50 ""street_number" ,route ,"neighborhood", "political" with this fields search is not working , for example "1980 Mission Street""

[2019-06-13 22:32] dmitriyaa commented on #28
@416serg, for me it doesn't work, I think it just falls back to cities.

[2019-06-18 05:51] Utsav170 opened #52 "no action on pressing enter"
i want to know if on pressing enter is it possible to search the position. we have only onPlaceSelected funtion to work with.

[2019-07-02 16:23] toddfichman commented on #52
I was wondering if this could be implemented as well

[2019-07-17 20:12] ErrorPro commented on #52
Hi guys, you can pass any prop down to the lib and it will pass it through to the googleautocomplete input. So the answer is yes: just try it out.

[2019-07-17 20:12] #52 closed

[2019-07-17 20:13] #50 closed

[2019-07-17 20:13] ErrorPro commented on #50
Please, try to write an issue in more detail and appropriate way. Thanks.

[2019-08-14 11:00] ferdiozer opened #53 "placeholder text"
how to change Autocomplete placeholder text ?
Thank you

[2019-08-14 11:48] ErrorPro commented on #53
@ferdiozer it's a standard html input under the hood. Any props you pass will be passed down to that standard html. So just try `placeholer="My"`

[2019-08-14 11:48] #53 closed

[2019-08-14 12:48] ferdiozer commented on #53
![image](https://user-images.githubusercontent.com/18518803/63022157-f1165080-beaa-11e9-83dc-2c16ac9722aa.png)

not working. I use react js

[2019-08-20 04:02] kratika-lahoti opened #54 "API is giving limit exeed"
i am getting below error.

"You have exceeded your daily request quota for this API. If you did not set a custom daily request quota, verify your project has an active billing account: http://g.co/dev/maps-no-account  For more information on usage limits and the Google Maps JavaScript API services please see: https://developers.google.com/maps/documentation/javascript/usage"

i want autocomplete c

[2019-08-20 05:34] kratika-lahoti commented on #54
According to https://developers.google.com/maps/premium/previous-licenses/articles/usage-limits

Upon receiving a response with status code OVER_QUERY_LIMIT, your application should determine which usage limit has been exceeded. This can be done by pausing for 2 seconds and resending the same request. If status code is still OVER_QUERY_LIMIT, your application is sending too many requests per day.

[2019-08-21 11:51] rajpraful opened #55 "suggestions not displayed in the form"
I am using this inside the form.

Some times it displays the suggestions, but sometimes it won't.

especially if the user entered some information in the other input fields of the form.

[2019-08-21 20:12] ErrorPro commented on #55
I need some more information on how to reproduce it. Closing it for now, please open another one with proper description.

[2019-08-21 20:12] #55 closed

[2019-08-21 20:13] ErrorPro commented on #54
This is not related to this library. You need to check how many times you've used your API key

[2019-08-21 20:13] #54 closed

[2019-08-21 20:13] ErrorPro commented on #35
Closing this one cuz it's ageing. If this error occurs again, just create a new issue with more info how to reproduce it.

[2019-08-21 20:13] #35 closed

[2019-08-23 16:47] kratika-lahoti commented on #54
i know that, what i want is to call api after user type 3 char or 5 char, currently it get hit on first char

[2019-08-25 15:03] nicholeuf opened #57 "Cannot read property 'remove' of null (on unmount)"
Officially putting in an issue for documentation purposes.  Please accept our PR as a fix https://github.com/ErrorPro/react-google-autocomplete/pull/56.  Thank you!

We are seeing a sporadic issue in production and have narrowed down the source to this line from our Honeybadger reports.  Hopefully this will help others as well.

Honeybadger backtrace:
![image](https://user-images.githubusercontent

[2019-08-25 15:32] nicholeuf opened #58 "null is not an object (evaluating 'this.event.remove')"
👋 We are seeing 359 occurrences in production with the error: `null is not an object (evaluating 'this.event.remove')`.  We were using version 1.1.0 of this library and will be upgrading to latest as soon as possible.

I am submitting a PR shortly to defensively check for the existence of this.autocomplete.

![image](https://user-images.githubusercontent.com/16197461/63652156-27659280-c72b-11e9-86

[2019-08-27 07:51] ErrorPro commented on #58
@nicholeuf Thank you for your PRs.

[2019-08-27 07:51] #58 closed

[2019-08-27 07:52] ErrorPro commented on #57
Merged

[2019-08-27 07:52] #57 closed

[2019-09-24 09:12] tiavina-mika opened #60 "how to put the input in top of the map"
Hello, the input is below the map instead of on the top of it, styling does not change it

[2019-09-30 02:21] joeljerushan commented on #28
if anyone wonder how to get other types for example `establistment` try this

[code]

[2019-10-07 10:49] joeljerushan opened #61 "Establishment Support"
is it possible to get input text of Establishment ? my code

[code]
![image](https://user-images.githubusercontent.com/10111309/66305912-042f2500-e91e-11e9-97aa-26467ee03a03.png)

Input name not there :( only returning this
![image](https://user-images.githubusercontent.com/10111309/66305952-1b6e1280-e91e-11e9-884b-847414902f00.png)
help needed

[2019-10-08 03:11] joeljerushan commented on #46
@ErrorPro could yo please explain how it works ? check my code
![image](https://user-images.githubusercontent.com/10111309/66364444-58321c00-e9a7-11e9-8ecb-eb4ea02fac18.png)
and i'm getting this error
**`InvalidValueError: setBounds: not a LatLngBounds or LatLngBoundsLiteral: unknown property lat`**
![image](https://user-images.githubusercontent.com/10111309/66364464-6e3fdc80-e9a7-11e9-9acd-8735aa

[2019-10-12 07:18] Jpetchan commented on #61
you can use like this.

onPlaceSelected={(place, input) => {
        // console.log(place)
        console.log(input.value)
    }}

i hope this useful for you.

[2019-10-26 20:42] yamakhalah opened #62 "Any possibility to manually change the value ?"
Hi,

I would know if there is a possibility to manually change the value which is shown in the textfield ? Or to bind it.

I work with the map and for some reason i would let people to choice between search for an adresse through your autocomplete component or by clicking on the map.

Best regard

[2019-10-30 23:24] yamakhalah commented on #14
Adding à value field which can be changed (i mean giving the possibility to manually set the value of the component)

[2019-11-06 22:13] goleary commented on #61
you should just pass the desired fields to the Component:

[code]

`name` is the one you are looking for.

![image](https://user-images.githubusercontent.com/16123225/68342501-98b4b080-009f-11ea-936d-dac0a7b2f111.png)

[2019-11-20 12:51] newtonanbarasu opened #63 "Cannot read property 'length' of undefined"
On Key Press Enter Key once the value selected
Autocomplete show error in index.js line:162

[2019-11-25 11:04] lyquangthai1993 commented on #43
attributes autocomplete from input default is disable-autofill make bug when web browser save old data input
like Chrome
![image](https://user-images.githubusercontent.com/21025255/69535126-c52c6000-0fad-11ea-94b7-28cdd8901f45.png)

pls change this.refs.input.autocomplete = 'disable-autofill'; to this.refs.input.autocomplete = 'off';

or make a variable attribute

thanks you

[2019-12-05 10:38] MariuzM opened #64 "How to add address to on top of (regions) in types?"
I want to search using Cities and Address, from my understanding to search address i need to use  `types={['address']}` and for regions `types={['(regions)']}`, how can i include both of them?

I have tried `types={['(regions)', 'address']}` but not working :(

[2019-12-14 07:57] dyaacov commented on #62
.

[2019-12-16 16:50] sseppo opened #66 "How to add bias - location and radius"
To use Location biasing rather than restriction, one should include location and radius in the call to google. How to use them in your component? I tried just to add them as props like this:
location='10,123356, 24,364364'
radius='10000'

but they did not work. Is it possible with current version, and if not, could it be added?

[2020-01-08 17:58] sebastianpinosanchez commented on #66
Hi, I'm trying to add the location and radius using `componentRestrictions` prop but it doesn't work for me. Have you found any solution for the current version `(1.1.2)` ?. Regards

[2020-01-09 16:57] wjoeyu commented on #14
I've been trying to implement enter press in the search field to select the first result if there is one, but I have not been able to achieve it.

[2020-01-28 07:41] Closery opened #67 "Getting error: google is not defined"
Hi,
I'm using NextJS and I import the component;
`import Autocomplete from 'react-google-autocomplete';`

And I use it like this;
`<Autocomplete
								type="text"
								onPlaceSelected={(value) => this.setState({ myValue: value.formatted_address })}
							/>`

But I'm getting an error:
`index.js:66 Uncaught ReferenceError: google is not defined`

I have two pages which I want to use the Autoc

[2020-01-28 07:59] Closery commented on #67
Edit: Ah sorry, its totally my fault. I forget to include the google api address on my second page like this:
`<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=[API_KEY]&libraries=places">`

[2020-01-28 07:59] #67 closed

[2020-02-08 02:59] tamjidtech opened #68 "i want to get full address like street number and street address also"
right now i only get city, state and country. and while i type an address with street number nothing comes up on suggestion only when i type city it's comes up with city, state, country. but i try with type regions but it's still same not getting full address.

[2020-03-19 00:24] groovychoons commented on #68
If you set types to "address" or "geocode", this should solve your problem.
`          <Autocomplete
            onPlaceSelected={this.props.onPlaceSelected}
            types={["geocode"]}
          />
`

[2020-03-19 00:26] groovychoons commented on #64
Hi @MariuzM
Google Places doesn't currently support multiple types, but using type geocode should solve this:

`          <Autocomplete

            onPlaceSelected={this.props.onPlaceSelected}
            types={["geocode"]}
          />`

[2020-04-08 05:07] kevinparkerson opened #70 "Autofill disabling solution needs ability to customize autocomplete attribute value"
While the included Chrome autocomplete / autofill disabling solution is fairly solid, the current `autocomplete="off"`value is no longer effective in Chrome. While this could (and probably should) be updated to another value within the component, I'd recommend also having a `inputAutocompleteValue` prop to allow consuming applications to manage this value themselves without needing to rely on chan

[2020-04-13 09:05] #70 closed

[2020-04-22 12:24] mathvaleriano opened #72 "Consider to use all optional parameters"
Hi, thank you for this project.
I think you could use all optional parameters in the request, because, for example, I need to consider the origin to get relevant items in the response.
What do you think about it?

[2020-04-24 07:27] pvernekar-cci opened #73 "Retrieving Autocomplete Predictions"
I want to retrieve autocomplete predictions before selection.

[2020-04-26 13:34] ErrorPro commented on #73
I think at this moment it's not possible. But you have a few options:
1. Get whatever you get in onPlaceSelected and do not change the value of the underlying input unless you need it.
2. Submit a PR which adds additional prop onPlacePredictions or smth like that and implement it in a PR.

Cheers.

[2020-04-26 13:34] #73 closed

[2020-04-26 13:35] ErrorPro commented on #61
Previous comments answer the original question I believe. Closing it.

[2020-04-26 13:35] #61 closed

[2020-04-26 13:37] ErrorPro commented on #72
I think it makes sense and might be a good feature. Can you please participate in this matter? I'd rather have an additional prop to not change the behavior of existing logic as some people already relied on it. @mathvaleriano what do you think?

[2020-04-26 13:37] ErrorPro commented on #68
Thanks to @groovychoons closing the issue.

[2020-04-26 13:37] #68 closed

[2020-04-26 13:38] #64 closed

[2020-04-26 13:40] ErrorPro commented on #63
@newtonanbarasu please provide more relevant context & examples.

[2020-04-26 13:40] #63 closed

[2020-04-26 13:42] ErrorPro commented on #62
@yamakhalah you can always pass any value you want to the underlying html element

[2020-04-26 13:42] #62 closed

[2020-04-26 13:42] ErrorPro commented on #60
@tiavina-mika Please reopen if it is still relevant.

[2020-04-26 13:42] #60 closed

[2020-04-26 19:48] mathvaleriano commented on #72
Sure 😄 . We dont want breaking changes.
Can I make a pull request?

[2020-04-27 04:23] pvernekar-cci commented on #73
So, you mean to say... If I want to append something to the autocomplete dropdown that is not possible right now correct?

[2020-04-28 11:06] Pardeep94 commented on #67
I get this error even after defining the script in my html file

[2020-04-28 11:10] Pardeep94 opened #75 "Getting error: google is not defined"
I get the following error.

I used `react-google-autocomplete` in my 2 component.

It is working fine in one component but I am getting this error in my second component.

I even define the google script in html file.

![Screenshot from 2020-04-28 16-37-47](https://user-images.githubusercontent.com/18335284/80480654-abcd7c80-896e-11ea-8404-307c61171d38.png)

[2020-05-05 11:44] pvernekar-cci opened #77 "Updating bounds does not update the records."
I have a scenario of Pickup and Dropoff location.

Initially, I set the bounds. If the user searches for any other Pickup location, bound values are updated in the console but `Autocomplete` doesn't reflect any changes with the updated bounds in the Dropoff dropdown.

![Screenshot 2020-05-05 at 5 24 42 PM](https://user-images.githubusercontent.com/16555687/81063440-66bcc380-8ef5-11ea-9e3e-17b8788f

[2020-05-05 20:20] deekshugupta commented on #77
I am also facing the same

[2020-05-07 05:15] pvernekar-cci commented on #77
@ErrorPro any update?

[2020-05-13 05:24] wynxnyw commented on #66
This is something I am very interested in as well. This will fulfill most peoples complete needs!

[2020-05-15 17:39] rherugu commented on #75
Do you have the code:
`<script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=[YOUR_API_KEY]&libraries=places"

in the index.html file?

If you don't, replace YOUR_API_KEY with the google API key.

[2020-05-15 17:50] zelin opened #78 "Adding Default address Text not working"
I am using v1.2.4 and using code

`<Autocomplete
							googlemap={this.state.googleMapProps.googlemap}
							style={{
								marginLeft: 15, marginRight: 15,
								backgroundColor: "green",
								outline:"none",
								fontSize: 16, fontFamily: "main-regular",
								backgroundColor: '#F5F5F5',
								height: 40,
								flex:1,
								border:'none',
								borderRadius: 10,
								pa

[2020-05-16 03:44] Pardeep94 commented on #75
I already add this in my html file. That's why it is working in my one component. When I am using it in another component it gives me this error

[2020-05-20 22:12] Aravindhsiva commented on #75
Yeas, got this same error. Any solutions??🤔🤔

[2020-05-21 20:13] ronenmagid commented on #66
Try this:

` geolocate = () => {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    {center: geolocation, radi

[2020-05-21 20:17] ronenmagid commented on #78
` defaultValue={"new York"}`

[2020-05-22 10:53] Pardeep94 commented on #75
I solved this issue .

I add the script below to the body and I am getting above error.

after adding the script above body in my html file. this issue solved

[2020-05-22 10:53] #75 closed

[2020-05-28 06:01] fabrianibrahim commented on #14
@ErrorPro Can we please add debouncing capabilities here?

[2020-05-28 11:48] #72 closed

[2020-05-28 11:55] ErrorPro commented on #77
It won't reflect as its being built on component did mount and when you change it's props the autocomplete doesn't get rebuilt. The easiest way to get what you need is to pass a unique key to autocomplete every time you google autocomplete to reflect your changes. Another solution would be to implement `componentDidUpdate` and check whether config props have been changed and if so then just reinit

[2020-05-28 11:55] #77 closed

[2020-05-28 11:56] ErrorPro commented on #66
Just pushed a new version with #76 merged in it. Might be something you are looking for. If it's not then you are welcome to submit a PR.

[2020-05-28 11:56] #66 closed

[2020-05-28 11:57] ErrorPro commented on #44
Closing this issue for now, if someone else is needed, please reopen.

[2020-05-28 11:57] #44 closed

[2020-05-28 11:57] #78 closed

[2020-06-17 17:36] francoro93 commented on #14
Not sure if adding the onChange event listener would be feasible? Would help tremendously with manual input and client side form validation

[2020-06-24 13:10] rkyslyy commented on #14
Is it possible to add type definitions to avoid adding `declare module 'react-google-autocomplete'` to declaration file in Typescript projects?

[2020-07-01 08:16] Sandeep200995 opened #80 "google is not defined handleAutoComplete node_modules/react-google-autocomplete/lib/index.js:93"
![Screenshot 2020-07-01 at 1 46 02 PM](https://user-images.githubusercontent.com/41103211/86220433-36b23980-bba1-11ea-8428-7323b5125ecb.png)

[2020-07-02 15:46] Granddevv commented on #80
same issue for me

[2020-07-10 08:59] ErrorPro commented on #80
@Sandeep200995 just tested on my localhost - everything worked. Seems like you either forgot to add google script or [this part](https://github.com/ErrorPro/react-google-autocomplete/blob/master/src/index.js#L104) didn't work for you.

[2020-07-24 21:37] willie-yao opened #81 "Error with two autocompletes on the same page"
I'm having some trouble with two identical autocomplete elements on the same page. The first element will work as intended, but the second shows up as an input field without any default text values, and the autocomplete dropdown doesn't show up at all. Does anyone know what the issue may be? Here is my code for one of the elements:
`<Autocomplete
        apiKey={apikey}
        style={autocomplete

[2020-08-01 19:54] willie-yao commented on #81
I figured out the issue. I had to include the <script> tag in my index.html file rather than passing in my api key as a prop.

[2020-08-01 19:54] #81 closed

[2020-08-07 18:55] igorrmon opened #82 "Capture all results and not just the selected one"
Hi @ErrorPro.
Is it possible to somehow get all the Array of options that autocomplete presents or only the selected?

Congratulations on this project!!!

[2020-08-26 21:39] bhimani07 commented on #80
What was the workaround for you @Sandeep200995 ?

[2020-09-03 14:09] hungvtitdng opened #83 "How to dynamic bounds"
hi @ErrorPro ,

I had built a website and used this package to project, In my project have a autocomplete but bounds dynamic by a select.

This is my code
[code]

the bounds just apply the first time, other times not working. It got old value from `location` from first time.
How to change bounds in the seconds, third time.

Thanks Bro,

[2020-09-16 18:39] ErrorPro commented on #82
Hi @igoRmon, thank you for your issue. This [line](https://github.com/ErrorPro/react-google-autocomplete/blob/master/src/index.js#L100) does the magic, it gets the current place and what that is depends on what you type in.

[2020-09-16 18:42] ErrorPro commented on #83
@hungvtitdng Hi, the library uses the bounds only on the first render(didMount), so what you would need to do is to re-render the whole Autocomplete when your props change, the easiest way to do so is `<Autocomplete key={Math.random()} />`

[2020-09-16 18:42] #83 closed

[2020-09-17 21:58] leo-def opened #84 "Options are not appearing"
I'm typing, but no suggestion is appearing and no error is catched.

![image](https://user-images.githubusercontent.com/7004464/93532408-5db61700-f917-11ea-8806-403af3cc040f.png)

Code:
`
 <Grid container spacing={2}>

      <Grid item sm={12}>

        <Autocomplete
          apiKey={googleApiKey}
          style={{ width: '90%' }}
          onPlaceSelected={(place: any) => {
            console.

[2020-09-30 07:10] emilguareno commented on #80
I had the same issue. Turned out to be an issue where if your parent component renders multiple times, then the loadScript for this plugin doesn't finish in time, and the second render checks if there is a script for it, which there is but it's not done loading yet. https://github.com/ErrorPro/react-google-autocomplete/blob/master/src/index.js#L109

[2020-10-01 15:08] bhimani07 commented on #80
How did you solve it? @emilguareno

[2020-10-01 15:28] emilguareno commented on #80
I just made sure that the autocomplete component wasn't rendered multiple times. If you put a console.log you should only see one render.

[2020-10-19 15:50] Ogelet opened #85 "How can I set output language? currently it's returning result in device language"

[2020-10-21 13:23] FlorianMrn opened #86 "A string ref, "input", has been found within a strict mode tree"
Hi everyone,

First of all, thank you for your work.

I have this error since i installed this package : A string ref, "input", has been found within a strict mode tree.

I think this is from the index.js in lib folder file mainly because of this line :

`return _react2.default.createElement('input', _extends({ ref: 'input' }, rest));}`

or this :

`  _react2.default.cloneElement(this.props.input,

[2020-10-21 23:14] djwood opened #87 "How to access distance_meters from predictions objects"
How can I get the _distance_meters_ results in the predictions objects when an Autocomplete request is made with the { lat, lng } _origin_ option as specified in the Google API docs? If this isn't readily accessible, it would be a useful feature to return it with the OnPlaceSelected() results. Thanks!

[2020-11-27 12:54] DebRoy15 opened #88 "How to set default value in the autocomplete field"
can you say which parameter I should use in your autocomplete component to set the default value in it?

[2020-11-28 12:39] coder36 commented on #84
We're using ant design, and the options don't appear when inside a Model.

[2020-12-03 18:32] vallard commented on #88
came here to wish I had this ability as well since.

[2020-12-03 19:01] vallard commented on #88
Ah... it was already mentioned in a closed issue #78 Probably need to put this in the docs:

[code]

[2020-12-16 12:03] benderlidze opened #89 "You have included the Google Maps JavaScript API multiple times on this page. This may cause unexpected errors"
Hi, thanks for your component, it is great.
I have a leaflet map with `react-leaflet-google-layer` and it is using google API too.
Got a problem with this `You have included the Google Maps JavaScript API multiple times on this page. This may cause unexpected errors`.
I tried to add/remove <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key="> to different parts of

[2020-12-17 20:40] KoderMAL commented on #14
Debouncing with ms as prop would be great. Can i make a PR for this feature?

[2021-01-11 16:44] claudiomnec commented on #89
I have the same problem when I use it in conjunction with the react-google-places-autocomplete library

[2021-01-26 10:14] Mmferry opened #90 "How to set a placeholder for search box input ?"
I want to set a translated placeholder for the search box?

[2021-01-29 05:35] suskull commented on #80
You can try npm package call 'react-async-script-loader'.
use it as a HOC with your Component you use AutoComplete.
HOC will return you 2 props, isScriptLoaded, isScriptLoadSucceed,
Check if isScriptLoaded, isScriptLoadSuccee is true then render <AutoComplete /> else render loading...
It worked for me.

[2021-02-12 22:45] adrielgro commented on #89
I have the same problem when i use with react-google-autocomplete

[2021-02-17 16:35] laurinenas commented on #90
Hi @Mmferry have You tried adding the placeholder by just passing the placeholder value in props? Like this:

[code]

[2021-02-19 17:31] igorrmon commented on #85
Hello, I have the same problem!

[2021-02-23 03:30] igorrmon commented on #85
Hi @Ogelet , I have a solution to this problem, with output "formatted_address". You can use a request through geocode API where you can set the output language as a parameter.

[Geo code api](https://developers.google.com/maps/documentation/geocoding/start#:~:text=The%20Geocoding%20API%20is%20a,Client%20for%20Google%20Maps%20Services.)

[2021-03-05 17:21] igorrmon opened #91 "How set highlight first in select box?"
Hi,
I want set Highlight first option in select box!

[2021-03-08 21:11] andrekutianski commented on #44
It would be interesting to be able to use any field to show the suggestions, this would allow you to use a field component of the MUI for example.

[2021-03-09 08:45] abdo17rabah opened #92 "How to retrieve the first prediction from the list after pressing Enter?"
How can i select the first prediction of the list after hitting the 'Enter button' ?
`<Autocomplete
            placeholder="Where ?"
            className={'${styles.unstyled} border-0 mr-3 w-100'}
            onPlaceSelected={(place) => {
              setLocation({ lat: place.geometry.location.lat(), lng: place.geometry.location.lng() });
              onSubmit({ lat: place.geometry.location.la

[2021-03-10 04:18] athenawisdoms opened #93 "How to use with TypeScript?"
Tried installing the type definitions using

    yarn add --dev @types/react-google-autocomplete

but encountered the error

Whats the correct way to install the TypeScript type definitions? Thanks!

[2021-04-16 09:02] ErrorPro commented on #93
@athenawisdoms Hi, I just published 1.3.0 with TS annotations. Please refer to `README.md` to see how to use it.

[2021-04-16 09:02] #93 closed

[2021-04-17 14:25] ErrorPro commented on #92
@abdo17rabah Hi, there's no way to get a list of predictions from the autocomplete [itself](https://developers.google.com/maps/documentation/javascript/reference/places-widget#Autocomplete.getPlace).

[2021-04-17 14:25] #92 closed

[2021-04-17 14:26] ErrorPro commented on #91
Hi, theres no way to direct pass styles to options of autocomplete, but you can try to style it with css `.myClass > input`

[2021-04-17 14:26] #91 closed

[2021-04-17 14:27] ErrorPro commented on #90
Thank you @laurinenas

[2021-04-17 14:27] #90 closed

[2021-04-17 14:51] #88 closed

[2021-04-17 14:58] ErrorPro commented on #85
Also full list of [PlaceResult](https://developers.google.com/maps/documentation/javascript/reference/places-service#PlaceResult)

[2021-04-17 14:58] #85 closed

[2021-04-17 15:01] ErrorPro commented on #84
@leo-def the component is basically just a regular `<input />`. The library does not modify or add the dom tree. Probably you need to pass additional styles for positioning and check the overflow/flow of your components.

[2021-04-17 15:01] #84 closed

[2021-04-17 15:36] ErrorPro commented on #82
Hi @igorrmon , I did some research regarding this issue and found the only way to get all list of results: read it from dom.
![image](https://user-images.githubusercontent.com/6295152/115118428-5cc78f80-9fa3-11eb-976d-9a9a92af7625.png)

Not sure how you can find that container though.

[2021-04-17 15:36] #82 closed

[2021-04-17 15:37] ErrorPro commented on #43
I think there's a prop you can pass now to change autocomplete: `inputAutocompleteValue`

[2021-04-17 15:37] #43 closed

[2021-04-20 15:34] ErrorPro commented on #86
Hi @FlorianMrn, I just published v2 which has a `ref` prop support and more. Thanks for your issue!

[2021-04-20 15:34] #86 closed

[2021-04-20 15:41] ErrorPro commented on #89
@adrielgro @claudiomnec @benderlidze Hi! I've just released a new version(v2) which should fix that issue. Please let me know if you still encounter it. Thanks!

[2021-04-20 15:41] #89 closed

[2021-04-20 15:42] ErrorPro commented on #87
@djwood Hey! I've just added a new version and now it passes the autocomplete instance to the `onPlaceSelected` [method](https://github.com/ErrorPro/react-google-autocomplete#props). Please have a look and let me know if that works for you.

[2021-04-20 15:42] #87 closed

[2021-04-20 15:44] ErrorPro commented on #80
Hey! I just released a new version(v2) which should fix that issue. Also, make sure you pass the apiKey or have a google script in the document. Let me know if you still experience it. @Sandeep200995

[2021-04-20 15:44] #80 closed

[2021-04-20 15:45] ErrorPro commented on #24
Closing it due to ageing. If it reappears please let me know

[2021-04-20 15:45] #24 closed

[2021-04-20 15:46] ErrorPro commented on #14
@KoderMAL Please! Feel free to submit your PR and we can merge it

[2021-04-20 15:46] ErrorPro commented on #14
@rkyslyy Added TS annotations on v2 but thinking on rewriting the whole lib with TS later

[2021-04-22 18:14] bhimani07 opened #96 "getPlaceDetails api response in not being parsed to onPlaceSelected 2.0.1"
![Screenshot from 2021-04-22 14-08-54](https://user-images.githubusercontent.com/31835202/115765140-602c9380-a374-11eb-8447-16ea8433648e.png)

**PlaceService.GetPlaceDetails** api response is not parsed back as callback to onPlaceSelected prop after latest update

[code]

above is the code I was using for a year now, I have moved types into options prop after recent update.

[2021-04-22 19:59] ErrorPro commented on #96
@bhimani07 I have the same behaviour in terms of response from google. In the second version, there's no change in the interface of the `onPlaceSelected` function, it's fully backwards-compatible. You still get `getPlace()` response in the `onPlaceSelected` callback and I it's parsed. `PlaceService.GetPlaceDetails` responses header is `text`. Could you please tell me a bit more what is the issue?

[2021-04-26 17:57] darkengine opened #98 "onPlaceSelected not called when click on search result item."
onPlaceSelected props not being called when clicking on search result item.

But you can find a "PlaceService.GetPlaceDetails" network request is done correctly in Chrome's devtool network section.

My code is:

`<AutoComplete
        style={{ width: "90%" }}
        apiKey={GOOGLE_MAP_API_KEY}
        onPlaceSelected={place => console.log('place:', place)}
        options={{
          types: ["ad

[2021-04-26 18:02] ErrorPro commented on #98
@darkengine just published 2.0.3 where this should be fixed. Let me know if  it's still reproduced

[2021-04-26 18:04] #98 closed

[2021-04-26 18:04] ErrorPro commented on #96
@bhimani07 just published v2.0.3 where your issue should be fixed

[2021-04-26 18:04] #96 closed

[2021-04-27 02:08] darkengine commented on #98
Nice! It works now.

One more suggestion: Add denounce when typing may reduce network requests significantly.

[2021-04-28 12:38] HossamMarey opened #102 "ReferenceError: Element is not defined"
just importing 'Autocomplete' to a page in a NextJs project give me this error

[2021-04-28 18:23] ErrorPro commented on #102
@HossamMarey HI, I've just published v2.1.0 which has a fix for your issue. I tested it with nextjs and it worked

[2021-04-28 18:23] #102 closed

[2021-04-29 12:06] ErrorPro commented on #14
Hey! I just published a new version(v2.1.0) which has a denounce in it. Check it out and let me know your thoughts, thanks

[2021-05-01 18:19] Samba-Shiva opened #103 "react-google-autocomplete not working in IE11"
Good day,
I am using this react-google-autocomplete control in my SPFX React project. It is working fine in Chrome and Edge. However when I trying to access in IE11, its keep on loading but nothing happening. When I takeout this control from the form then its loading fine. Below are the some of the packages i am using. Can anyone assist on this.

"react-google-autocomplete": "^2.1.0",
"@types/reac

[2021-05-01 19:42] ErrorPro commented on #103
@Samba-Shiva Hey, thank you for your issue, working on it and will let you know when it's fixed

[2021-05-02 18:17] ErrorPro commented on #103
Hi @Samba-Shiva, I just released the v2.1.2 where IE 11 should work. Shall you let me know if that does not fix the issue. Thanks

[2021-05-02 18:17] #103 closed

[2021-05-03 09:29] ErrorPro commented on #98
@darkengine Hey, it's already done in v2.0.0. There's a hook called [`useAutocompleteService`](https://github.com/ErrorPro/react-google-autocomplete#useplacesautocompleteservice) which has debounce in it.

[2021-05-11 13:50] narcello opened #107 "There is a way to specified `fields` using usePlacesAutocompleteService?"
I'm using usePlacesAutocompleteService and I wanna specified `fields` to return in predictions. Is it possible? Or even use the [getDetails](https://developers.google.com/maps/documentation/javascript/reference/places-service#PlacesService.getDetails)

[2021-05-12 08:46] ErrorPro commented on #107
For the `AutocompleteService` only [these](https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service#AutocompletionRequest) options available, no fields option available. Regarding the `getDetails` service, to be able to call this method you need to have [different service](https://developers.google.com/maps/documentation/javascript/reference/places-service#

[2021-05-13 14:17] jdwholmes opened #108 "Unable to set type against autocomplete"
I'm using the autocomplete in my project alongside tailwindcss.

Tailwindcss by default applies styles to any input with [type]=*

The AutoComplete doesn't actually use type="text" by default, so these styles aren't applied.

I've tried adding type="text" to the autocomplete, which does work. But I get the following error:

Type '{ apiKey: string; className: string; onPlaceSelected: (place: any) =

[2021-05-13 19:14] ErrorPro commented on #108
@jdwholmes Are you sure you're using the latest version of the lib? works for me on the latest version
![image](https://user-images.githubusercontent.com/6295152/118175241-24935f80-b430-11eb-85a2-e24091ae8e2c.png)

[2021-05-13 19:14] #108 closed

[2021-05-14 17:47] pekac commented on #89
Hey @ErrorPro!

Got something related to this issue.

I am using:
- `google-map-react v2.1.9`
- `react-google-autocomplete v2.1.2`

The error I'm getting is:
`Google maps places API must be loaded`

Ofc, once the map is removed from the same page - the autocomplete works properly!
Also, the map component works both with the autocomplete and without it :)

[2021-05-17 08:43] ErrorPro commented on #107
@narcello closing this issue for now but I'd love to hear back from you @narcello

[2021-05-19 01:53] WillXing opened #109 "Propose to expose googleAutocompleteService from hook"
Proposal to expose googleAutocompleteService from hook `usePlacesAutocompleteService`

**Current**

Only place predictions related function are exposed.

**Expect**

Have autocomplete service exported.

**Purpose**

To use service more flexible, user can operate function like get detail of place etc.

[2021-05-19 14:21] ErrorPro commented on #109
Hey @WillXing , I just published v2.2.0 which exposes the instance, check [readme](https://github.com/ErrorPro/react-google-autocomplete#returned-value) section for more info

[2021-05-19 14:21] #109 closed

[2021-05-19 19:36] ErrorPro commented on #89
hey @pekac ! Thanks for your message. We tried to reproduce the issue but unfortunately, we could not. Could you add some more info or show/send the piece of code how you are using it?
https://monosnap.com/file/RDqGF7o5Dx4kyivGCykZNMAxJoBRow
https://monosnap.com/file/kskdTqChukqlS7Wbaccfcy1uL7bGdg

[2021-05-20 10:58] nalezhytyi commented on #14
Hey @ErrorPro, It would be super awesome and great if you add 'minChar' prop for <Autocomplete /> component, to reduce the amount of requests.

[2021-05-20 14:39] pekac commented on #89
Hey @ErrorPro ! Thanks for looking into it so deeply!

Definitely looks that way.

Give me some time to spin up a min-reproducible repo. I believe this will be the easiest way to pinpoint the issue.
Will share it with you afterwards :)

[2021-05-21 13:17] thebiltheory commented on #89
✋🏽 Same here.

Using:
- `"@react-google-maps/api": "^2.1.1",`
- `"react-google-autocomplete": "^2.1.2",`

[code]

[2021-05-21 15:08] ErrorPro commented on #89
@thebiltheory Hey, is it possible to share a piece of code(if it's the same component). I want to understand the flow, which lib first gets to load google API, thanks!

[2021-05-23 13:34] adybuciuman commented on #107
I have the same problem. In my case, I need `getDetails` in order to fetch the coordinates. Besides city, region and country I need also latitude and longitutde and I see that `getPlacePredictions()` doesn't return the coordinates.

[2021-05-23 15:48] ErrorPro commented on #89
I just found out the way to reproduce it. The problem is that autocomplete library needs `places` API to be loaded. The only way to load `places` API via [URL](https://developers.google.com/maps/documentation/javascript/libraries). So what happens is: somewhere in the code you already require google map API(any map library or directly) without `places` API in the URL so that this library sees goog

[2021-05-25 08:45] ErrorPro commented on #14
@nalezhytyi Hey! It's already built in the lib and provided by a hook called `usePlacesAutocompleteService` which has debounce in it. Let me know if that's something you are looking for, thanks!

[2021-05-26 15:47] Smackface opened #112 "Two Autocomplete Instances on Page"
I can't seem to get more than one instance of the autocomplete to work per page. I am using the `const { ref } = usePlacesWidget({})` method. I have two separate consts, so that one is ref, and the other is newRef along with making sure the 2nd is as distinct from the first as possible. I currently have my two instances separated into two different React components called into the parent, here is

[2021-05-26 18:46] ErrorPro commented on #112
@Smackface Hey! Thanks for your issue. The `usePlacesWidget` hook returns an object with [properties](https://github.com/ErrorPro/react-google-autocomplete#useplaceswidget). In the example I used destructuring to extract the ref, in your case you would also need to rename it for `const { ref: newRef } = usePlacesWidget({` so it will basically grab `ref` property from the returned value and assign

[2021-05-26 18:46] #112 closed

[2021-05-26 20:30] Smackface commented on #112
This fixed it, unfortunately I'm struggling to get it working with Formik, I have been using the formik example you provided in the docs to try and figure it out. Thanks a ton for the response!

[2021-05-27 12:07] ErrorPro commented on #107
@adybuciuman Hey! [`getDetails`](https://developers.google.com/maps/documentation/javascript/reference/places-service#PlacesService.getDetails) is a different service(places-service) from google API. The mentioned hook only works with the [places-autocomplete-service](https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service). I had an idea to initiate the p

[2021-05-27 12:46] narcello commented on #107
@ErrorPro Thanks for answer me.
My goal is get the cities and I want to get coordinates and formatted_address as well, to fill address form automatically with postal code, street, venue, etc.

[2021-05-27 20:40] ErrorPro commented on #107
@narcello @adybuciuman hey guys! If the `usePlacesAutocompleteService` returns [`placesService`](https://developers.google.com/maps/documentation/javascript/reference/places-service#PlacesService.getDetails) which you can call at any place in your component will that help you to solve your cases? for example

[code]

or you can call this line when user selects a location from your autocomplete`onC

[2021-06-01 12:15] thebiltheory commented on #107
Is this normal `usePlacesService` doesn't return `placesServices`?

Haven't found it either on the interface
[code]

[2021-06-01 12:17] thebiltheory commented on #107
How can we get the coordinates in the meantime?

[2021-06-02 19:22] ErrorPro commented on #107
@thebiltheory @narcello I just added this functionality to the [lib](https://github.com/ErrorPro/react-google-autocomplete#returned-value-1).  You can use it as I described [here](https://github.com/ErrorPro/react-google-autocomplete/issues/107#issuecomment-849926788). Also there's a way to use a sessionToken to group requests.

[2021-06-03 10:58] narcello commented on #107
@ErrorPro Nice, thanks. I just seen and I'll test it today. Thank you, I'll let you know about the tests :)

[2021-06-03 13:49] narcello commented on #107
@ErrorPro Worked, but I had to pass a function callback to get the result from getDetails, little bit different from [here](https://github.com/ErrorPro/react-google-autocomplete/issues/107#issuecomment-849926788) but it's fine man, thanks again :)

[2021-06-03 20:03] ErrorPro commented on #107
@narcello Yes it's a bit different cuz I supposed that the `getDetails` would return a promise but it [does not](https://developers.google.com/maps/documentation/javascript/reference/places-service#PlacesService.getDetails) :(
I will write a wrapper around its interface to `promisify` sometimes later. Hope the current implementation will work for a while :) Cheers!

[2021-06-03 20:27] narcello commented on #107
@ErrorPro Don't worry, it's working :) thanks 🎉

[2021-06-04 07:21] #107 closed

[2021-06-11 17:07] jpoehnelt opened #115 "use @googlemaps/js-api-loader"
- this will provide all options for loading the api(version, mapId, etc)
- handle cases where other components might also load api
- is maintained by Google Maps Platform Devrel team

[2021-06-11 19:02] ErrorPro commented on #115
@jpoehnelt Hey, I was thinking about using that tool. Will take a look at that asap!

[2021-06-14 17:39] pepemaluza commented on #14
How about passing an option in the props which can change what Place type the query returns? So its not fixed as cities

[2021-06-15 19:32] ErrorPro commented on #115
@jpoehnelt I just tried to implement `@googlemaps/js-api-loader` and it doesn't work if there are multiple components trying to require google map API. So I ended up having an issue using two libraries together, the other one is @react-google-maps/api. The issue is that the `@googlemaps/js-api-loader` lib doesn't return always promise, if for example another lib required google maps API and it loa

[2021-06-15 19:37] jpoehnelt commented on #115
do you have any code demonstrating this?

this would match waiting for the initial script to load and not the callback to be fired. @googlemaps/js-api-loader uses the latter pattern which should have all resource available when it resolves the promise. I guess there could be a state where another library is trying to load the google maps api and it has not quite finished, but @googlemaps/js-api-lo

[2021-06-15 20:51] ErrorPro commented on #115
This is the [code](https://github.com/ErrorPro/react-google-autocomplete/commits/2.5.0) I ended up with, I left the comments there for now. You can just use that branch in your package.json and try to use two libraries together. Let me know if anything else is needed or any results are known. Thanks

[2021-06-21 14:30] ryanballa opened #116 "Handle Error Feature Request"
Hey, great library! Have you considered adding a prop for error handling for situations where wifi drops out or the user keeps the browser window open a long time and the session expires?

<img width="974" alt="Screen Shot 2021-06-21 at 9 27 32 AM" src="https://user-images.githubusercontent.com/728326/122779108-30661300-d273-11eb-8214-f207a5235b7f.png">

[2021-06-21 19:21] ErrorPro commented on #116
@ryanballa Hey, thanks for the issue. No, I didn't consider such keys, unfortunately. Do you have time to create a PR? If not I will create this feature later this week.

[2021-06-28 02:52] liangmi425 opened #117 "couldn't find my place in the autocomplete list"
When I tried to find my address = Khalifa in UAE, it's not showing.
The current autocomplete is showing only Khalifa in Pakistan.

[2021-06-28 07:20] ErrorPro commented on #117
https://developers.google.com/maps/documentation/javascript/reference/places-widget#AutocompleteOptions

[2021-06-28 07:20] #117 closed

[2021-06-30 10:33] seanluse41 opened #118 "No dropdown when following examples"
Hello, really cool stuff here.
When I implement as following, the search box appears, but no dropdown appears. I believe there is no problem with Zindex.
Console does show return values of place.

Parent HTML:
[code]

Code from examples:
[code]

[2021-06-30 15:22] adrienzagar opened #119 "Dropdown appears upside"
Hey, I would like the dropdown appears upside the input. Is it possible to do this (maybe it's just a little css thing, I'm not sure) ?

[2021-06-30 15:59] adrienzagar commented on #119
I found a solution changing the position of the div the contains autocompletion :
[code]

The thing is that if completion contains only one or few addresses there is a gap between input and autocompletion like this :
![Capture d’écran 2021-06-30 à 17 57 28](https://user-images.githubusercontent.com/59897360/123993516-c6651080-d9cc-11eb-804d-781a3b43858a.png)

Maybe someone have a better solution

[2021-07-01 04:34] shubuu97 opened #120 "TypeError: Cannot read property 'AutocompleteService' of undefined"
Need to add some check before accessing `AutocompleteService` from places at line no 108 in `lib/usePlacesAutocompleteService.js `

![Screenshot 2021-07-01 at 10 02 50 AM](https://user-images.githubusercontent.com/33938128/124065119-b5131700-da53-11eb-82dc-f03a25394111.png)

[2021-07-01 08:28] ErrorPro commented on #119
Hey @adrienzagar, unfortunately the Autocomplete widget provided by google is quite hard to customize. You might wanna use `usePlacesAutocompleteService` to fetch results yourself and put them in any order you'd like. P.S. You can try to use `flex: column-reverse` for the Autocomplete widget, not sure but it might work

[2021-07-01 08:28] #119 closed

[2021-07-01 08:30] ErrorPro commented on #118
@seanluse41 Hey! `usePlacesWidget` uses a default google Autocomplete widget which relies on some css properties. If you put it inside an absolutely positioned container the widget might not work as you expect. Try to wrap your component inside a relatively position container, might work
[code]

[2021-07-01 08:30] #118 closed

[2021-07-14 23:00] aamirki opened #121 "Even though options.strictBounds is set to true, the autocomplete results still return addresses outside of the bounds"
Simplified version of what I did:
[code]
There don't seem to be any errors in the console or generally visible. The results that get suggested are definitely biased towards addresses within the bounds, but they do not filter out addresses outside of the bounds as `strictBounds` should. The bounds contain just the Boston area but I am getting autocomplete suggestions in Germany, for example.

[2021-07-17 19:43] ErrorPro commented on #121
@aamirki Hey, I'll take some time soon and check this

[2021-07-19 15:06] aamirki commented on #121
Hi after some more fiddling I realize this is actually the same issue as https://github.com/ErrorPro/react-google-autocomplete/issues/77. Setting a new key for the component after my `bounds` prop changed fixes the issue and makes it work as expected.

[2021-07-19 15:06] #121 closed

[2021-07-27 06:38] ju2kr opened #122 "usePlacesWidget with conditional rendering"
Hi all,
I'm struggling with a problem since a few days.
I would like to use the usePlacesWidget hook with an input field, which is only rendered under certain conditions.
As soon as the field is not rendered it logically does not find the reference. If the field is rendered it finds the reference but the autocompletion does not work.

<img width="988" alt="Bildschirmfoto 2021-07-27 um 08 35 31" sr

[2021-07-28 08:22] ErrorPro commented on #122
@ju2kr Hey! I think the easiest way to solve this is to hide inputs with css. Don't unmount them, just change `display:none|block`. If that's not possible for you then you can switch to use `<Autocomplete />` with `ref`. Store the ref inside the parent component and it'll work even if you unmount the `<Autocomplete ref={ref} />`

[2021-07-28 08:22] #122 closed

[2021-08-04 12:11] Farkadi06 opened #123 "❗ By default the Autocomplete suggest regions as predictions!"
When instructing the Place Autocomplete service to return only business results I got no predictions.
❗ The example :
[code]

[2021-08-05 19:41] AlexeyRDKV commented on #123
You must pass the types in quotes and everything will work.

[code]
Place types https://developers.google.com/maps/documentation/places/web-service/autocomplete#place_types

[2021-08-05 19:41] #123 closed

[2021-08-08 19:29] ErrorPro commented on #116
@ryanballa Could you please provide the whole stacktrace? It seems that it's an internal error thrown inside maps API library and we might not be able to intercept it but lets see your stack trace first.

[2021-08-10 11:03] ninjadev220 opened #124 "Only show place name instead of full address"
I'd like to show place name instead of the full address in an inputbox.
However, when I select an address from the list of the places, it shows the full address firstly and then replaces the place name.
Isn't there a way to disable selecting the full address?

Here is a video record to show how it works.
http://cloud.movavi.com/show/f5iZzxlv48ydTe3bcVnNDtS6OEuBpIGW

`
<Autocomplete
  onPlaceSelect

[2021-08-11 08:16] ErrorPro commented on #124
@ninjadev220 Hey, the autocomplete service has functionality out of the box which cannot be changed. The same applies to the value. What happens is you set the ref input value of the autocompelte service and then google overwrites it back. If you want to have custom behaviour/appearance u'd better try [places service](https://github.com/ErrorPro/react-google-autocomplete#useplacesautocompleteservi

[2021-08-11 08:16] #124 closed

[2021-08-19 04:08] ClementineOldfield opened #126 "`options` does not allow `componentRestrictions` to be passed in when using Typescript"
It looks like `options` in `usePlacesAutocompleteServiceConfig` is incorrectly typed as `QueryAutocompletionRequest` instead of `AutocompleteRequest`

https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service?hl=en#AutocompletionRequest

[2021-08-23 08:55] ErrorPro commented on #126
@ClementineOldfield Thanks for your issue and PR!

[2021-08-23 08:55] #126 closed

[2021-08-24 00:28] lucasortigoso opened #128 "Possible missing bracket"
Hi there,

Safari 12.1 crashes at this line because has a missing bracket at the end. Does that make any sense?

https://github.com/ErrorPro/react-google-autocomplete/blob/a032e66c0819eb01b23b01d7cb31e7467cf1cbe1/src/utils.js#L14

[2021-09-02 23:02] sasedlock commented on #14
First off: Thank you for a useful library!

I am working on an app that requires internationalization. Is it true to say the "Enter a location" language comes via the fact the Google Autocomplete Service is being used? If possible, having a means to pass through this language would be great.

[2021-09-07 01:45] bclermont opened #130 "Invalid Example: AutocompleteComponent do not exists"
https://github.com/ErrorPro/react-google-autocomplete/blob/59ac59eb48ef817b2f79167ac1a6a03c74552a74/docs/examples.js#L70 refers to a name that do not exists in the repository

[code]

[2021-09-07 10:52] ErrorPro commented on #130
Those are meant more as pseudocode rather than something you could run and play yourself. It'd be nice to have some kinda example that you can run(provide your token) and play with it though. Due to lack of time something I cannot do atm but definitely something we will look into in the future. Thanks for letting us know!

[2021-09-07 10:52] #130 closed

[2021-09-07 10:52] ErrorPro commented on #130
Let me know if you have time/will to make it real :)

[2021-09-15 13:25] kimberleykelly opened #131 "Autocomplete list is scrolling away from the input."
Issue: Autocomplete list is scrolling away from the input. I have tried lots of (not so nice hacks) to try and amend this. When I remove all of my own custom styling, the issue still persists.

Please see attached screenshot from my project.

<img width="302" alt="Screenshot 2021-09-15 at 14 26 00" src="https://user-images.githubusercontent.com/32412752/133441723-6587ba52-d56a-4236-ae9c-352411737c

[2021-09-15 14:12] pedrosimao opened #132 "Debounce `usePlacesWidget`"
Is there an easy way to have debounce in `usePlacesWidget` hook?
Or should I on a feature request? I could even code the feature if you think it's a nice idea...

[2021-09-18 18:18] ErrorPro commented on #131
@kimberleykelly Hey, it must be your local styles issue otherwise other people would have already reported(solved) it. What I would recommend is simply try to use the basic Autocomplete widget on not a styled page, see if it works without any additional styles from your side. Otherwise I would need a piece of code that I can run to test/debug it myself.

[2021-09-18 18:21] ErrorPro commented on #132
@pedrosimao Hey! Unfortunately, it is not possible to customize that hook as it has its own API underneath which handles outgoing requests and the input state. if you still wanna try to do that I'd love to see your outcome!

[2021-09-20 18:48] IvanDerlich opened #133 "Keys exposed in HTTP Request"
When I make a request to google from the browser, the keys are exposed.
Anyone that gets access to those keys can start consuming the services and create charges on the key owner.
Is there a way to create a token that changes every request or every X seconds?
Or to encrypt the keys?

[2021-09-24 17:08] #132 closed

[2021-09-24 17:08] #131 closed

[2021-09-24 17:12] ErrorPro commented on #133
@IvanDerlich Yes, I had the same questions back then. People indeed can use your API key as it's exposed. Google has a few tools to secure your API key, you can read about them [here](https://developers.google.com/maps/api-security-best-practices) if you still have any qs let us know

[2021-09-24 17:12] #133 closed

[2021-09-25 10:00] p-young commented on #14
Hi @ErrorPro, I'm working on trying to use the sessionToken inside usePlacesAutocompleteService.

I took a quick look at the code and couldn't figure out if it would update the session token at some point, because I believe a fresh session token is needed after each call to placesService.getDetails

It would be helpful to expose a refreshSessionToken() function or something if we need to do that o

[2021-09-29 21:15] yuval9313 opened #134 "Missing `googleMapsScriptBaseUrl` in .d.ts file"
Hey,
I'm trying to use this lib but it is seems to be missing `googleMapsScriptBaseUrl` from typescript's `index.d.ts`

ATM I'm on node 14 and react-typescript with custom webpack config.
I've checked the parameters according to your docs and it does seems to work on `.js` and not on `.ts`.
I would appreciate you to look around

Thanks

[2021-10-04 10:04] ErrorPro commented on #134
Hey @yuval9313, we just pushed a new version(2.4.3) where it's been fixed, thank you for the issue!

[2021-10-04 10:04] #134 closed

[2021-10-11 09:53] meidikawardana commented on #115
Hi, today I was struggling to load this library after I loaded google maps API for @react-google-maps/api using js-api-loader. At the end, the solution was to remove the js-api-loader and load the google maps API using a wrapper from this official library by Google team: @googlemaps/react-wrapper . Reference: https://cloud.google.com/blog/products/maps-platform/loading-google-maps-platform-javascr

[2021-10-17 20:15] maxizhukov opened #137 "Get longitude and latitude from usePlacesAutocompleteService"
After select prediction or in predictions array there are no lat and lng, that I think very important for autocomplete

[code]

And I have this in places:

[code]

"react-google-autocomplete": "^2.4.3",

[2021-10-19 22:01] GarryOne commented on #89
If you're using this package alongside with `google-map-react`, you can just tell the last package to include the `places` api.
[code]

[2021-10-24 21:10] #137 closed, assigned to nobody

[2021-10-31 16:39] ErrorPro commented on #14
I just release v.2.6.0 with an additional method to refresh the session token, check the [readme](https://github.com/ErrorPro/react-google-autocomplete#useplacesautocompleteservice) for more info

[2021-11-02 10:28] MuhammadAlbab opened #138 "[Question] - to get our API keys working do we have to create billing account for our project first? or we can skip that part? thankyou"

[2021-11-02 12:09] ErrorPro commented on #138
I believe currently you need to have a billing account attached, more info [here](https://developers.google.com/maps/billing/gmp-billing)

[2021-11-02 12:09] #138 closed

[2021-11-19 10:33] ErrorPro commented on #116
Close it due to staleness, if you have more info don't hesitate to reopen it

[2021-11-19 10:33] #116 closed

[2021-12-08 17:36] izzyworks89 commented on #89
How? @GarryOne
I am using both.
 "@react-google-maps/api": "^2.1.1",
 "react-google-autocomplete": "^2.1.2",
How do i do that

[2021-12-08 18:26] JAndresHJGlobant commented on #89
@izzyworks89 You could try by setting the API key and the places library by using the `useLoadScript` provided by @react-google-maps/api. I mean something like this:

`
const { isLoaded, loadError } = useLoadScript({
    googleMapsApiKey: API_KEY,
    libraries: ['places'],
  });
`

[2021-12-09 15:52] ni-oschachtschneider opened #140 "ReferenceError: google is not defined"
When running a working example in a Github Action pipeline we always end up with during the buildService.

`ReferenceError: google is not defined` which breaks all of our tests. There should be a null check before.

[2021-12-13 16:30] ErrorPro commented on #140
@ni-oschachtschneider Don't have time currently but once I do I'll check it, otherwise you can submit a PR and I will gladly review that

[2021-12-20 04:03] humayunkabir opened #142 "InvalidValueError: setTypes: not an Array"
Here is my `AutoCompleteAddress` component:
[code]

And I am using it like this
[code]

The problem is, I am getting this error ` InvalidValueError: setTypes: not an Array`, and the screen went frozen, can't do anything after this.

Any solution for this? Thanks in advance.

[2021-12-20 13:11] #140 closed

[2021-12-21 16:59] ErrorPro commented on #142
@humayunkabir Hello, please refer to the [docs](https://developers.google.com/maps/documentation/javascript/reference/places-widget#Autocomplete.setTypes) regarding setTypes, it accepts an array of strings, in your case `types: ['cities']`

[2021-12-21 16:59] #142 closed

[2021-12-23 22:37] mushfau opened #143 "Photos array not returned when place is selected"
the photos array is not returned in the result

[code]

is there an options that needs to be added to retrieve the location photos?

[2021-12-24 09:01] #143 closed

[2021-12-31 00:13] tylermaran opened #144 "Getting UTC offset from place object"
I need to pull timezone info from the location. I see the `utc_offset` property but it is coming back undefined.

![image](https://user-images.githubusercontent.com/30934424/147795613-9fdca4e3-bdc8-480a-9c0a-fc7c6867b857.png)

[2021-12-31 00:42] tylermaran commented on #144
Sorry for the short lived issue. Turns out it was a change in the Google API fields (`utc_offset` => `utc_offset_minutes`)

Solution:
[code]

[2021-12-31 00:42] #144 closed

[2022-01-04 16:29] teddyboirin opened #145 "usePlacesWidget remove my state"
Hello! i don't know why but my previous state (others input) are removed when I use usePlacesWidget :

`  const { ref } = usePlacesWidget({
    apiKey: 'api',
    onPlaceSelected: (places) => {
      setForm({
        ...form,
        city: places.address_components[2].long_name,
        postcode: places.address_components[6].long_name,
      });
    },
    language: 'fr',
    options: {
      typ

[2022-01-06 01:19] Shomari opened #146 "Change result text size in dropdown"
Any way to increase the size of the text that show up in the result dropdown?

[2022-01-06 15:16] ErrorPro commented on #146
That's handled by google SDK, the only way to change anything is to overwrite the styles(CSS classes)

[2022-01-06 15:16] #146 closed

[2022-01-06 15:18] ErrorPro commented on #145
@teddyboirin Hey, I believe it's the `({ ...form, ... })` that basically is empty. You can just change a single state inside the `onPlaceSelected` callback hence making it more isolating. `onPlaceSelected: (places) => { setFieldValue('myPlace', places: places.address_components[2].long_name) }`

[2022-01-06 15:18] #145 closed

[2022-01-07 18:24] alacret opened #147 "React Hook overrides the autocomplete attribute from Material UI TextInput"
When setting `autocomplete=off` on the TextInput from Material UI, and setting the `ref` it removes this attribute when rendered.

What we are trying to do is disable the chrome autocomplete box that shows on the HTML input

[2022-01-07 18:25] alacret commented on #147
@wilme2

[2022-01-09 11:18] ErrorPro commented on #147
@alacret I think theres a [prop](https://github.com/ErrorPro/react-google-autocomplete/issues/43) that you can use to overwrite that

[2022-01-09 11:18] #147 closed

[2022-01-15 12:45] im-tridevsharma commented on #89
Use this code
`const { isLoaded, loadError } = useLoadScript({ googleMapsApiKey: API_KEY, libraries: ['places'], });`

And when rendering Autocomplete, Please enclose Autocomplete in
`{isLoaded && <AutoComplete />}`

[2022-01-24 15:23] yurii-futur opened #148 "How I can coordinates using usePlacesService?"
Can you say me how I can coordinates using `usePlacesService`? Thanks!

[2022-01-25 12:48] ErrorPro commented on #148
I think it's already [been answered](https://github.com/ErrorPro/react-google-autocomplete/issues/49) but feel free to reopen this issue

[2022-01-25 12:48] #148 closed

[2022-02-07 08:49] bek-sidikovich02 commented on #89
Hi guys!
I have been using react-google-autocomplete so far, but it can not show usa regions and cities also street number, pls
I need to have your favour

[2022-02-07 18:07] russmenum opened #149 "will only return city not full address"
Am trying to get a full address, but this library seems to only work for the city, not the full address?

[code]

[2022-02-14 15:42] ErrorPro commented on #149
Feel free to reopen it if that still doesn't work for you

[2022-02-14 15:42] #149 closed

[2022-02-23 13:51] Sam-git123 opened #150 "Clear Button Feature"
Is there any option here in the lib itself to add a clear button in right side of the input field like the attached image
![ClearButton](https://user-images.githubusercontent.com/69759831/155332531-82aadbb4-2af6-4b00-9a12-634fa6286e06.png)
:

[2022-02-27 09:16] plamenh opened #151 "[Autocomplete] Render in parent instead of body?"
Couldn't find a way to render the Autocomplete select in the parent element instead of body. We are having issue when using this in a Modal component, which treats any click outside of it as a close event. Am I missing something? Why does it have to render in body?

[2022-03-01 14:55] ErrorPro commented on #151
You can always use `usePlacesWidget` hook and build it yourself

[2022-03-01 14:55] #151 closed

[2022-03-01 18:43] russmenum commented on #149
It seems the core problem is onload it is not setting the API key?

[code]

[code]

Does not matter if I pass it from env, or state, or directly there as a string. It won't load it until I refresh the screen at least one time.

Is there some load for the apiKey I am missing so it will load first time and be ready

[2022-03-01 18:45] russmenum commented on #149
I do not think I can when you close it for me?

[2022-03-02 19:32] SailingSteve commented on #151
I'm having a similar problem.  In a material-ui dialog, the GetPredictions calls are being sent to google and returning with good data, but the suggestions (Powered by Google) window is not appearing.

I don't understand how the `usePlacesWidget` would solve the problem, could you explain or suggest an alternative approach for a fix?

[2022-03-03 20:42] mandula-abhilash opened #152 "AutoComplete - per session is not working even after setting sessionToken to true"
Here is my code. Even after passing the `autocompleteSessionToken`, billing is generated per character instead of per session.

[code]

[2022-03-12 11:40] saamalam opened #153 "Multiple use of ref not working"
Multiple use of ref not working with several input text element

[2022-03-13 12:09] saamalam commented on #153
Okay later i see
const { ref: materialRef }

its good now

[2022-03-13 22:09] mschipperheyn commented on #89
One thing to be aware of that even with useLoadScript, you have to make sure that both urls are identical, i.e. contain the same parameters in the same order. I recommend loading the script in a separate component

[code]

[2022-03-15 07:06] lassoxo opened #154 "usePlacesAutocompleteService not returning "geometry.location""
This is the code I'm using to configure usePlacesAutocompleteService

`
const {
    placePredictions,
    getPlacePredictions,
    isPlacePredictionsLoading,
  } = useGoogle({
    apiKey: API_KEY,
    language: "en",
    debounce: 500,
    options: {
      types: [],
      componentRestrictions: { country: "ca" },
      fields: [
        "address_components",
        "geometry.location",
        "

[2022-03-15 07:17] lassoxo commented on #154
The syntax above seems to be only available for Google Places Widget
[https://developers.google.com/maps/documentation/javascript/reference/places-widget](url)
google.maps.places.AutocompleteOptions interface

[2022-03-15 07:42] lassoxo commented on #14
plausible feature?
#154

[2022-03-15 19:50] ErrorPro commented on #154
@lassoxo Hey, thanks for your issue! I've already seen a few similar requests from other people. I'll definitely check it once I have a chance.

[2022-03-15 19:52] ErrorPro commented on #152
Hey @mandula-abhilash Can you please check if `autocompleteSessionToken` changes between the renders? It should be the same per session. Let me know the result so I can try to help you

[2022-03-18 03:41] pointline opened #155 "Want to get auto Complete when I switch countries"
Thanks a lot, great project

[code]
Modified country parameters
[code]

Switch from us to gb, but the data obtained is still us

[2022-03-20 15:51] jackmayhew opened #156 "Getting street address"

[2022-03-21 03:50] #156 closed

[2022-03-21 17:28] perfectdeed opened #157 "Get CORS error when using getPlaceDetails"
Access to fetch at 'https://maps.googleapis.com/maps/api/place/js/PlaceService.GetPlaceDetails?2sen-US&10e3&14m1&1sChIJL2zGbNcbyUwRro5hONDO1ZE&17m1&2e1&callback=_xdc_._1n8sqd&key=AIzaSyCBnnJKtgJBC2mn4V1PAYDBGULnj3--Jws&token=57751' from origin 'https://app.perfectdeed.dev:4200' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaq

[2022-03-28 14:25] ErrorPro commented on #157
@perfectdeed thats quite strange, it should be the same domain as used by search API. Have you tried to run it without https? Maybe if it's self-signed issue. Let me know if I you still experience this issue

[2022-03-28 14:25] #157 closed

[2022-04-06 06:37] LefanTan opened #159 "How to style Autocomplete box?"
Aside from getting the autocomplete box element using document.getElementByClassname, is there a better to style the box ('pac-container') as well as ('pac-item') ? It would be great if it is possible to get the element itself through autocompleteRef

![image](https://user-images.githubusercontent.com/12474777/161910864-19e0d9c0-9ad6-4862-aa35-9afa7cb4c71f.png)

[2022-04-13 18:24] cheymonty opened #160 "component blocking the website load"
My places api key is correct and has billing enabled. I am importing like this
`import Autocomplete from 'react-google-autocomplete';`
When I put this in my code:
`<Autocomplete
        apiKey={API_KEY}
        onPlaceSelected={(place) => {
          console.log(place);
        }}
      />`
the website freezes and gets stuck in a loop until the website crashes.

[2022-04-14 13:43] wylanosorio opened #161 "Can we set bounds using area or city name instead of coordinates?"

[2022-04-16 16:58] ErrorPro commented on #161
Check the docs https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service

[2022-04-16 16:58] #161 closed

[2022-04-16 16:59] ErrorPro commented on #160
You can try an [alternative](https://github.com/ErrorPro/react-google-autocomplete#install) way of adding the google map script and see if it still breaks your website

[2022-04-16 17:00] ErrorPro commented on #159
It's styled by google and you cannot change styles(at least easily)

[2022-04-16 17:00] #159 closed

[2022-04-25 15:22] dcruz1990 commented on #154
Hey @lassoxo , i'm facing same issue, could you explain in more depth what you did to get lat long ?

[2022-04-25 18:16] dcruz1990 commented on #154
Just call `lat()` and `lng()` using `PlacesService`

![image](https://user-images.githubusercontent.com/43586145/165149294-b7f46f8c-8c3b-4d56-b1e2-786703e73f15.png)

[2022-04-26 22:08] pifantastic commented on #160
I am also seeing this issue. Here is an example:

https://codesandbox.io/s/snowy-tree-4v8pz8?file=/src/App.js

When you uncomment the `<input>`, the page crashes. I suspect some sort of infinite loop, but I haven't had time to dig into the details.

[2022-04-28 02:01] lassoxo commented on #154
Hey @dcruz1990 you should be able to get lat/lng by calling Google Map's Geocoding / Places API separately or use a different library with geometry support. I was more concerned with the fact that I couldn't utilize session token using this approach.

Keep in mind that whenever an Autocomplete request is called, a session token can be generated which is used along side of a subsequent Place Detail

[2022-04-28 15:34] wnieves opened #162 "Force call onPlaceSelected with default value"
Hi I'm using autocomplete component find some places in my app but I need get the place_id if I put a default address that I have in some prop, in this case which is the best way to achieve it?

Thanks!

[2022-04-29 18:01] pifantastic commented on #160
@ErrorPro would you be okay re-opening this issue given the repro I provided above?

[2022-05-04 12:35] ErrorPro commented on #160
@pifantastic Of course, I'll check it asap and make sure its fixed

[2022-05-09 20:25] ErrorPro commented on #160
Found out the [issue](https://github.com/ErrorPro/react-google-autocomplete/blob/master/src/usePlacesWidget.js#L111). I will try to fix it asap and ship a new version.

[2022-05-10 03:31] am2222 opened #163 "Handling error when api key is wrong"
Hi,
When Api key is wrong I get an error that breaks my app. Is there any way to handel this error silently? I used an error boundary around the component but it still breaks my code.

[2022-05-11 00:02] jmferreiratech commented on #160
@ErrorPro, is there anything we can do to help? I'm facing the same issue.

[2022-05-11 09:35] ErrorPro commented on #160
@jmferreiratech Hey! I am terrible busy these days with the work related projects. If you can just check why the [mutation observer hangs](https://github.com/ErrorPro/react-google-autocomplete/blob/master/src/usePlacesWidget.js#L111) the render that would be helpful.

[2022-05-11 13:30] jmferreiratech commented on #160
@pifantastic and @cheymonty, I've noted that the issue happens only on [StrictMode](https://reactjs.org/docs/strict-mode.html). Could you please confirm that is the case for you too?

[2022-05-19 02:50] cheymonty commented on #160
@jmferreiratech Yes the component works when not in StrictMode!

[2022-05-24 13:18] BrightonNgema commented on #160
Has this been fixed?

[2022-05-24 14:02] ErrorPro commented on #160
@BrightonNgema @cheymonty @jmferreiratech Can you guys try out 2.7.0? I wrapped the problematic stuff into a condition to not work on react 18. It was a workaround right from the start, so no wonder it caused the issue. Meantime I'll take a deeper look into the original issue and try to come up with a more robust fix.

[2022-05-24 14:23] ErrorPro commented on #163
@am2222 The best way is to not render the input if apiKey is not provided. {apiKey ? <Autocompletet ... /> : null}

[2022-05-24 14:23] #163 closed

[2022-06-06 09:48] vrinceanuv commented on #14
Adding onChange would be really helpful to type and address that is not found by google.

[2022-06-08 05:21] CodeDruid13 opened #164 "Border Bottom Issue"
Found an issue, an underline shows on search and won't go away even on navigation to other screens

Default Search Input:  ![image](https://user-images.githubusercontent.com/19711569/172536436-b8333ec6-6d09-4adf-bc3f-49f2a29d462b.png)

After Search Input: ![image](https://user-images.githubusercontent.com/19711569/172537022-908016d6-e078-40e7-87c9-b8f52ed76354.png)

On Another screen: ![image](htt

[2022-06-08 09:28] aar9nk opened #165 "Autocomplete drop down is missing addresses"
Possibly a duplicate of [#117](https://github.com/ErrorPro/react-google-autocomplete/issues/117)

I'm currently using react-native-google-places-autocomplete in my React Native app and it displays far more address results. I am looking for street addresses so I have added that as a type. The bounds option is irrelevant and the rest is default.

[2022-06-10 09:25] ErrorPro commented on #165
@aar9nk share the code so that I can run it to reproduce whats going on. But as u pointed out it could be that some properties not configured correctly

[2022-06-10 09:25] #165 closed

[2022-06-10 09:26] ErrorPro commented on #164
Probably u are using some custom input. Check the source code of that input

[2022-06-10 09:26] #164 closed

[2022-06-10 09:28] ErrorPro commented on #162
The best way would be to use [usePlacesAutocompleteService](https://github.com/ErrorPro/react-google-autocomplete#useplacesautocompleteservice) and call its API `getPlacePredictions` then you can see if there's any result for such address and pick the one you need.

[2022-06-10 09:28] #162 closed

[2022-06-10 13:13] CodeDruid13 commented on #164
Actually even when using the given input, it acts the same

[2022-06-16 11:02] ErrorPro commented on #164
If it was an issue related to this library there would already be a few issues/answers. U can provide reproducible code and I can take a look

[2022-06-18 21:27] popcorn245 commented on #89
If using one of the loaders you will need to do a check to see if google maps is already loaded and then use the already existing instance, and you will also need to check to see if the loader exists so that you can wait for the scripts to finish loading before trying again. Here is my code, hope this helps someone who is as lost as I was lol. ^_^

[code]

NOTE: I am using google-maps package
http

[2022-06-20 18:39] R1cro commented on #131
Faced the same issue, @ErrorPro.

[code]

I added `ref` to simple `<input>` without any styles, also I turned off all global styles and use only one component with 'lorem ipsum; plain text (to add scroll on whole page and test it).

Autocomplete block with search results is floating away from the input on any scroll.

[2022-06-21 08:49] ErrorPro commented on #131
@R1cro Can u provide a jsbin or any other online js tools with a reproducible example?

[2022-06-21 11:38] R1cro commented on #131
@ErrorPro, sorry, don't know how to setup react-google-autocomplete package in JSBIN or JSFiddle.

But I can notice that is reproducible when current page with UI component able to scroll. You need just to add couple blocks of plain text before page scroll will appear, fill usePlacesWidget component input (your custom input with ref) and when dropdown with autocomplete results appear - make scroll

[2022-06-22 10:10] R1cro commented on #131
Fast temp solution for this issue. I don't like this way, but this is temp solution.

We need to move `.pac-container` from `<body>` to form input section. So, we can use `appendChild()` to your `<div>` where exists your autocomplete input field.

[code]

  Also apply this CSS code to your styles  like this one:

[code]

CC: @ErrorPro need to find solution to place this component near input field

[2022-07-01 08:41] santhoshspecbee opened #166 "Not able to restrict the search suggestion to start after 3 characters."
Need to show suggestion after 3 characters. Currently shows suggestion after typing a single character.

![image](https://user-images.githubusercontent.com/80678500/176858748-f9345806-f7d5-4b07-bc37-a5eb5cb896b7.png)

- I am not able to find an atttrbute to provide minlength
- Also not able to find any event handlers to stop suggestion till some characters e.g: 3
- Please give some input to acheiv

[2022-07-06 12:31] sayad-mallllek opened #167 "google is not defined at refreshSessionToken"
I am using react autocomplete with session tokens and I had to use a useeffect on the main page load to add a session token because by default is comes null from usePlacesService

`  useEffect(() => {
    refreshSessionToken();
    return () => {};
  }, []);
`

  I am using Nextjs and it is giving this error
  `framework-79bce4a3a540b080.js:1 ReferenceError: google is not defined
    at refreshSes

[2022-07-07 07:08] santhoshspecbee commented on #166
@ErrorPro Please review.

[2022-07-18 20:09] vitorcosta039 commented on #89
@thebiltheory did you manage to solve the problem? i have the same settings as you

[2022-07-22 10:17] MoritzKn opened #168 "onPlaceSelected callback is not reactive"
If the `<ReactGoogleAutocomplete>` component rerenders, the onPlaceSelected is not updated reaxtively.
This is important in many cases where you have a callback that relies on some state.

This is because the event listener:
https://github.com/ErrorPro/react-google-autocomplete/blob/214a7c3d4740d2bfcf85264717b0e0da5bd0b333/src/usePlacesWidget.js#L72-L75

...is only updated in the "init" `useEffect

[2022-07-22 10:31] MoritzKn opened #169 "Language prop is not reactive"
The language can not be changed dynamically.

I realized this is because of a limitation in the Google Places Lib and the fact that the language is a parameter of the script URL itself:

https://github.com/ErrorPro/react-google-autocomplete/blob/214a7c3d4740d2bfcf85264717b0e0da5bd0b333/src/usePlacesWidget.js#L33

This means that this affects changing the language dynamically and also using two dif

[2022-07-22 10:40] MoritzKn opened #170 "Ref prop is not updated when the component is recreated"
When the component is rendered conditionally, it will create a new input element every time it renders again. However, the ref prop is only reassigned if it is empty and is therefore not updated:

https://github.com/ErrorPro/react-google-autocomplete/blob/214a7c3d4740d2bfcf85264717b0e0da5bd0b333/src/usePlacesWidget.js#L54

This is also an issue for the workaround of https://github.com/ErrorPro/rea

[2022-07-26 15:47] Veri5ied opened #171 "Longitude and Latitude"
The location of longitude and latitude are not accessible. Make it accessible because we need to use it on some components. Now we need extra packages to convert the locations for us

[2022-07-28 07:19] adrian19hub opened #172 "Same input, different predictions on JSX vs TSX files"
Hi,
I have **two** files that use the `usePlacesService` hook,
I use the same options on both:
[code]

Getting predictions on input change:
[code]

Displaying the options:
[code]

**Input causing issue:**
[code]

`**Versions**:
Material (MUI) - 5.7.0
react-google-autocomplete - 2.6.1
react - 17.0.2

**Sandbox** -
https://codesandbox.io/s/elated-jang-q5wjpp

[2022-07-29 11:42] Veri5ied opened #173 "Google is not defined"
While using the package, it works well on local machine but when deployed online, it returns google is not defined and app refuses to load. I am using the useGoogle from your library

[2022-08-02 17:25] eliaharris commented on #171
You can. It's under `geometry.location` on the selected place.

[code]

[2022-08-03 06:43] Veri5ied commented on #171
Yeah I noticed it’s a function. Thank you

[2022-08-03 06:43] #171 closed

[2022-08-03 06:43] Veri5ied commented on #171
Solved

[2022-08-11 10:05] cesargutierrezo opened #174 "usePlacesWidget freezes app with React 18 & strict mode"
After upgrading my webapp to React 18, mounting a component with the `usePlacesWidget` hook freezes the whole app. This only happens when running the app with Strict Mode on. Running the production build works fine as strict mode doesn't apply in this case

[2022-08-11 10:14] cesargutierrezo commented on #174
Closing as v2.7.0 works fine

[2022-08-11 10:14] #174 closed

[2022-08-15 11:52] RobPrecious opened #175 "Missing isPlacePredictionsError or something similar"
Hey! This is a really useful package but I'm finding my use case is missing an error state hook. I.e. what happens if there is an API issue whether it's down or we've surpassed our limits, we need to be able to show a user friendly error, but we need to know there has been an error at all.

[2022-08-17 14:44] ladasfeed opened #176 "Cannot read properties of undefined (reading 'places')"
Sometimes i get an error here.

https://github.com/ErrorPro/react-google-autocomplete/blob/master/src/usePlacesWidget.js

Cannot read properties of undefined (reading 'places')
`if (!google.maps.places) return console.error("Google maps places API must be loaded.");`

Notice that you can pass a callback to a script url now. It would be easier to handle everything.
`
<script async
    src="https://

[2022-08-18 05:29] andaden commented on #166
@santhoshspecbee Could you please try using `debounce` prop?

[2022-08-18 10:25] ErrorPro commented on #176
the issue is that if your code is inside a bundle then it's hard to get it exposed to the global scope. I'll add another check fo `.maps.places`. If you have time u can create a PR with the fix and I'll merge it

[2022-08-18 10:26] ErrorPro commented on #175
Hey! Indeed, the error handling isn't properly handled right now, I'll take a look into it soon or if u have time you can create a PR and we will merge it

[2022-08-18 10:27] ErrorPro commented on #173
Would it be possible to send some stack traces?

[2022-08-18 10:33] ErrorPro commented on #172
@adrian19hub Hey! I think the issue is that if you paste the term it might be sent in the wrong way. I've checked your sandbox(thanks for providing) and it gave me two results if I pasted the code, but if I later on typed it was giving the same result. What you can do is look at the outgoing XHR to google places api when you do this test: compare the parameters being sent to google in both cases.

[2022-08-18 10:33] #172 closed

[2022-08-18 10:36] ErrorPro commented on #170
Yeah, that's indeed the case. I'll try to see if there's a way to fix it. Probably comparing the refs between renders and reassiging if they differ would make it work.

[2022-08-18 10:41] ErrorPro commented on #169
Yeah, good point, I'll try to implement the proposed solution. It indeed will require a reload of google maps api with a new language, which should block any iteration with the API until after the script is loaded.

[2022-08-18 10:45] ErrorPro commented on #168
Good one, will check it as well

[2022-08-18 10:46] ErrorPro commented on #167
Will check it asap

[2022-08-18 12:07] MoritzKn commented on #168
Thank you for looking into all the issues!

[2022-08-19 02:55] illlama opened #177 "Language setting is english but returns a different language"
Just like a bellow, search results aren't an English.

I tried to change language as korean or english or the others but the result is almost same ( I mean, US is change as I intended but `del Norte` part wasn't changed.)

![image](https://user-images.githubusercontent.com/13018853/185532772-f034aff0-954f-460f-bc8c-ef10f81c52b6.png)

And here's my code.
[code]

I can't find a way to solve this pro

[2022-08-26 10:27] alejoar commented on #40
@ErrorPro how do you achieve this when using `usePlacesWidget`? I can't figure it out.

[2022-08-26 18:10] kevinmachstudio opened #178 "using react google autocomplete with react hook form?"
Was hoping to integrate this with react hook form, is it possible? I'm getting this warning `A component is changing an uncontrolled input to be controlled. This is likely caused by the value changing from undefined to a defined value, which should not happen. Decide between using a controlled or uncontrolled input element for the lifetime of the component.`

Second thing is when the user selects

[2022-08-29 03:05] menashkes commented on #155
Hey

I'm also updating the options prop and the autocomplete is not responding to that. I believe there is a need to recreate the component registration to google but I'm not sure how.

Please advise

Thanks

[2022-08-31 20:43] mrbme opened #179 "Debounce example not using passed options"
When using this example https://github.com/ErrorPro/react-google-autocomplete/blob/master/docs/debounce.js, any passed options aren't being accepted. I'm trying to pass in restrictions for US only and the response doesn't change. Also, the geocode latitude and longitude are not in the response either.

[2022-09-01 19:40] #179 closed

[2022-09-08 14:52] tedkreutzer96 opened #180 "Impossible to test with `jest`"
When testing the widget with `jest` in a `react` and `typescript` project, I get the following error:

`TypeError: autocompleteRef.current.setFields is not a function at node_modules/react-google-autocomplete/lib/usePlacesWidget.js:259:31`

With this implementation:
<img width="560" alt="Screen Shot 2022-09-08 at 10 51 55 AM" src="https://user-images.githubusercontent.com/55004350/189154505-54fe4e

[2022-09-09 06:21] mcmxcdev commented on #178
Pretty sure you need to change `field` to `field: { ref: _ref, ...rest }`. At least that is how we do this to avoid the warning.

[2022-09-22 19:23] cmorbitzer opened #182 "usePlacesWidget does not work if input ref does not exist on mount"
`usePlacesWidget()` doe not work if the input element does not exist on mount.

This does not work (simplified example):

[code]

because of this line: https://github.com/ErrorPro/react-google-autocomplete/blob/214a7c3d4740d2bfcf85264717b0e0da5bd0b333/src/usePlacesWidget.js#L52

which is in a `useEffect` hook that only runs on mount.

Because of the rules of hooks, I am not able to imperatively in

[2022-09-29 00:01] prabhakaran8737 commented on #166
@andaden any example on how to use debounce, I use something like this but doesn't work

[code]

[2022-09-30 07:25] meteohr commented on #180
Maybe not really related to this, but I want to mock the whole `usePlacesWidget` function in a test and it is not working, I get the error `TypeError: Cannot redefine property: usePlacesWidget`. Maybe the maintainer (@ErrorPro ;)) can explain a bit how we should test our code which uses the methods of the library, like `usePlacesWidget`. That would be really helpful!

[2022-10-10 09:53] l-hendriks commented on #176
I'm also encountering this issue, but I'm not sure what the problem is. Happy to create a PR, but what kind of check are you talking about?

[2022-10-11 06:55] bek-sidikovich02 commented on #89
Thanks,so much!
Marc

On Mon, Mar 14, 2022 at 3:10 AM Marc Schipperheyn ***@***.***>
wrote:

[2022-10-14 05:30] supagu commented on #173
usePlacesAutocompleteService.js?f5a0:108 Uncaught ReferenceError: google is not defined
    at buildService2 (usePlacesAutocompleteService.js?f5a0:108:7)
    at eval (usePlacesAutocompleteService.js?f5a0:121:7)
    at invokePassiveEffectCreate (react-dom.development.js?61bb:23487:1)
    at HTMLUnknownElement.callCallback (react-dom.development.js?61bb:3945:1)
    at Object.invokeGuardedCallbackDev

[2022-10-21 05:33] rentlyniranjan commented on #180
For me, I'm getting this error while react testing the component (I used **usePlaceWidget** here)
![image](https://user-images.githubusercontent.com/104625928/197119661-41427159-c309-4ae4-b6ab-ae23719605f5.png)

Error occurs at: **(/react-google-autocomplete/lib/usePlacesWidget.js:80:47)**
I tried to mock the addListener function in testcases at window object like below:
window.google = {
  maps:

[2022-10-22 21:34] sosella opened #183 "<div class="pac-container pac-logo" style="display: none;"></div> elements continuously added to the DOM"
I am testing with the Autocomplete component using it almost identically to the example.  When I look at the Elements tab, I see that:

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=mygooglemapsapikey"></script>

and

<div class="pac-container pac-logo" style="display: none;"></div>

are added to the end of the BODY tag.  When I navigate to another route (e.g., home

[2022-10-23 19:54] sosella commented on #183
Apparently this is an issue with the Google Maps Places API.  Going to close it.

[https://issuetracker.google.com/issues/35827219?pli=1](url)

[2022-10-23 19:54] #183 closed

[2022-10-24 22:49] e-reifer opened #184 "Pac-container autosuggest not showing with mui dialog"
When using the autocomplete form with mui  in a dialog as suggested [here](https://github.com/ErrorPro/react-google-autocomplete/blob/master/docs/examples.js) the z-index values are not compatible with each other so that the autosuggest container will not be visible.

Mui Dialog (fullscreen) has a z-index of 1300 while the pac-container only has 1000.

As a workaround I've decreased z-index of mod

[2022-10-26 23:28] Nicolasvegam opened #185 "component is not showing the style"
I got this problem: pac-item is not showing its styles

<img width="532" alt="image" src="https://user-images.githubusercontent.com/26209122/198157454-9708818d-0ea3-4d24-877b-bd78e2270e99.png">

I'm using NextJS

[2022-11-10 22:21] radikris opened #187 "Options not passed to query, options filter not working"
Stackoverflow question: https://stackoverflow.com/questions/74395951/react-google-autocomplete-options-not-working

I am using react-google-autocomplete with react-hook-form:
And when I try to add options parameters to the Component (which should filter my API predictions down to **my country, and only cities**, but it's clearly not working:

      const { register, handleSubmit , control} = useFo

[2022-11-15 14:23] MihaiSandor commented on #187
up

[2022-11-22 12:53] Katanis opened #189 "On next.js it works on localhost, but in production getting errors"

[2022-11-22 12:58] Katanis opened #190 "On next.js it works on localhost, but in production getting random errors"
Hello, so we implemented google autocomplete in our project, we have two similar projects one is with create-react-app another is with next.js we use the same component.
We run into problems when the code goes in prod, or if we build and run the project locally, autocomplete does not work and console shows random errors and react-google-autocomplete does not work.
Uncaught SyntaxError: Identifier

[2022-11-27 09:12] MohammadKurjieh commented on #173
Indeed @supagu setting a blank key accidentally causes this error. I haven't tested it with a dynamic key.
@ErrorPro it might be good to add a key check and throw an error. This can help catch silly mistakes.